<div class="myDiv">

  <div mat-dialog-content>
    <div class="dialog-content-fixer">
      <app-asign-family #assign></app-asign-family>
    </div>
  </div>
  <mat-dialog-actions>


    <button mat-raised-button color="accent" (click)="close()">
    {{settings.lang.close}}
    </button>
    <a href="tel:{{argsHelper.phone.displayValue}}" style="padding-right:15px;">
      <button mat-raised-button  class="dial-for-help">
        <mat-icon>phone</mat-icon> {{settings.lang.dialTo}} {{argsHelper.name.value}} {{argsHelper.phone.displayValue}}
      </button>
    </a>
  </mat-dialog-actions>
</div>