<div *ngIf="isguest">
<h1>
  חגי - אפליקציה לחלוקת סלי מזון
<br>
  <a href="https://noam-honig.github.io/salmaz">לפרטים נוספים, לחצו כאן</a>
</h1>


<button mat-button style="position:absolute;bottom:0px;left:0;" (click)="isguest = false">overview</button>
</div>
<div class="myDiv" *ngIf="!isguest">
  <div style="width:100%;text-align: center">
    <img src="{{getLogo()}}" />
  </div>
  <div style="width:100%;text-align: center">
    {{orgName()}}

  </div>
 
  <mat-form-field class="example-full-width">
    <input matInput placeholder="טלפון" [(ngModel)]="user" type="tel">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="סיסמה" [(ngModel)]="password" type="password">
  </mat-form-field>

  <mat-checkbox [(ngModel)]="remember">זכור אותי במכשיר זה</mat-checkbox>

  <button mat-raised-button color="accent" (click)="login()">
    כניסה
  </button>

  <br />
  <br /> אם אינך רשומה, אנא הרשמי כאן
  <button mat-raised-button color="accent" (click)="register()">
    הרשמה
  </button>
</div>