<div class="myDiv">
  <h1>
    כניסה 
  </h1>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="משתמש או טלפון" [(ngModel)]="user">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="סיסמה" [(ngModel)]="password" type="password">
  </mat-form-field>

  <mat-checkbox [(ngModel)]="remember">זכור אותי במחשב זה</mat-checkbox>

  <button mat-raised-button color="primary" (click)="login()">
    כניסה
  </button>

<br/><br/>

  אם אינך רשומה, אנא הרשמי כאן
  <button mat-raised-button color="primary" (click)="login()">
    הרשמה
  </button>
</div>