<div class="full-page" *ngIf="!isAdmin()">
    <div class="grow-item">
        <div>
            <img src="{{getLogo()}}" style="max-width:120px" />
            <div class="mat-headline" style="align-self: center;"> חגי
                -
                אפליקציה לחלוקת מזון
            </div>
            <div class="mat-headline" style="align-self: center;">בואו להתנדב בחלוקות המזון הקרובות</div>
        </div>
        <mat-divider></mat-divider>
        <app-event-card [events]="events"></app-event-card>
    </div>
</div>
<app-events *ngIf="isAdmin()"></app-events>