.contact1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description-text {
    color: white;
    font-size: large;
}
.sub-header {
    @media (min-width: 720px) {
        font-size: large;
    }
}
.headline-card {
    background-color: #dbb372;
}
.headline {
    text-align: center;
    display: flex;
    justify-content: center;

    div > img {
        max-height: 280px;
    }
    > div {
        display: flex;
        align-items: center;
        padding: 10px;
        max-width: 850px;
    }
}
.head-line-text-1 {
    align-self: center;
    color: white;
    font-size: xx-large;
    font-weight: 500;
}

.head-line-text-2 {
    align-self: center;

    font-size: x-large;
    font-weight: 400;
}
.hagai-footer {
    display: flex;
    flex-direction: row;
    text-align: right;
    margin-right: 10px;
    @media (max-width: 720px) {
        flex-direction: column;
    }
    a {
        //       background-color:red
    }
}

.hagai-container {
    @media (max-width: 720px) {
        flex-direction: column;
    }
}
.memorial {
    display: flex;
    max-width: 850px;
    flex-direction: row-reverse;
    margin-top: 10px;
    img {
        max-width: 250px;
    }
    @media (max-width: 720px) {
        flex-direction: column;
        text-align: center;
        align-items: center;
        img {
            margin-bottom: 10px;
        }
    }
}
