<mat-card-title>
    <data-area [settings]="familiesInfo"></data-area>
    <div>
        <mat-menu #appMenu77>
            <button mat-menu-item (click)="preview()">הצג משפחה כפי שתנדב יראה אותה</button>
                <!--
        <button mat-menu-item (click)="clearHelperInfo()">{{'נקה פרטי משנע'|translate}}</button>
        <button mat-menu-item (click)="saveHelper()"
          *ngIf="showSave()">{{'שמור פרטי משנע ועבור למשנע הבא'|translate}}</button>
        <button *ngIf="!settings.showCompanies.value" mat-menu-item
          (click)="settings.showCompanies.value= true; changeShowCompany()">{{'הצג חברה למשנע'|translate}}</button>
        <button *ngIf="settings.showCompanies.value" mat-menu-item
          (click)="settings.showCompanies.value= false; changeShowCompany()">{{'הסתר חברה למשנע'|translate}}</button>

        -->
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu77">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
</mat-card-title>

<div mat-dialog-content class="content">
    <div>
        {{args.message}}
        <div *ngIf="families.currentRow">
            
            <mat-accordion *ngIf="familiesInfo" [multi]="true">
                <mat-expansion-panel *ngIf="args.delivery">
                    <mat-expansion-panel-header>
                        <div>
                            <mat-panel-title>
                                פרטי משלוח
                            </mat-panel-title>
                        </div>
                        <div>
                            <mat-panel-description>
                                {{delivery.getShortDeliveryDescription()}}
                            </mat-panel-description>
                        </div>
        
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <data-area [settings]="deliverInfo"></data-area>
                    </ng-template>
                </mat-expansion-panel>
               
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div>
                            <mat-panel-title>
                                <mat-icon class="badAddressIcon"
                                    *ngIf="!families.currentRow.addressOk.value&&!families.currentRow.isNew()">
                                    warning
                                </mat-icon>
                                כתובת
                            </mat-panel-title>
                        </div>
                        <div>
                            <mat-panel-description>
                                {{families.currentRow.getAddressDescription()}}
                            </mat-panel-description>
                        </div>
        
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
        
                     
                        <span *ngIf="families.currentRow.address.value!=families.currentRow.address.originalValue"><a
                                (click)="families.currentRow.save()" target="_blank">בדוק כתובת</a></span>
                        <ng-container *ngIf="families.currentRow.address.value==families.currentRow.address.originalValue">
                            <a (click)="families.currentRow.showOnGovMap()" target="_blank">הצג ב govmap</a> |
                            <a (click)="families.currentRow.showOnGoogleMaps()" target="_blank">הצג בגוגל</a> |
                            <a (click)="families.currentRow.openWaze()" target="_blank">פתח WAZE</a>
                        </ng-container>
                        <data-area [settings]="familiesAddress"></data-area>
                        <div class="addressProblem" *ngIf="!families.currentRow.addressOk.value&&!families.currentRow.isNew()">
                            <span class="badAddressTitle">שים
                                לב, כתובת לא מדוייקת</span>
                            גוגל לא הצליח למצוא את הכתובת בצורה מדוייקת ({{families.currentRow.getGeocodeInformation().whyProblem()}}). יש להשוות בין השדה "כתובת" לשדה "כתובת כפי שגוגל הבין". 
                            <br> כתובת לא מדוייקת עלולה להוביל המשנע למקום לא נכון בוייז.
                            
                        </div>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <div>
                            <mat-panel-title>
                                טלפונים
                            </mat-panel-title>
                        </div>
                        <div>
                            <mat-panel-description>
                                {{families.currentRow.phone1.value}}
                            </mat-panel-description>
                        </div>
        
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <data-area [settings]="phones"></data-area>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
        
                    <mat-expansion-panel-header>
                        <div>
                            <mat-panel-title>
                                פרטים נוספים
                            </mat-panel-title>
                        </div>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <data-area [settings]="extraFamilyInfo"></data-area>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
        
                    <mat-expansion-panel-header>
                        <div>
                            <mat-panel-title>
                                ברירות מחדל למשלוח
                            </mat-panel-title>
                        </div>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <data-area [settings]="deliveryDefaults"></data-area>
                    </ng-template>
                </mat-expansion-panel>
        
        
            </mat-accordion>
        </div>
    </div>
</div>
<mat-dialog-actions>
    <button mat-raised-button color="warning" (click)="cancel()" *ngIf="!args.disableSave">
        בטל
    </button>
    <button mat-raised-button color="accent" (click)="confirm()" *ngIf="!args.disableSave">
        שמור
    </button>
    <button mat-raised-button color="accent" (click)="cancel()" *ngIf="args.disableSave">
        סגור
    </button>

</mat-dialog-actions>