.myDiv{
    direction:rtl;
}

.mat-dialog-container{
    margin:3px;
}
.dialog-content-fixer{
    min-height: 500px;
}
.top{
    margin:0;
}
.content{
    height: calc(70vh - 96px);max-height: unset;overflow-y: scroll;//because of iphone scroll in dialog
}
.badAddressTitle{
    color:red;
    margin: 5px;
    font-weight: 700;
}
.badAddressIcon{
    color:#FAC090;
}
.fix-input{
    background-color: yellow;
    
}