<mat-accordion>
  <mat-expansion-panel *ngFor="let d of deliveries" (opened)="deliveryList.selectDelivery(d)">
    <mat-expansion-panel-header>
      <div class="family-title">
        <div>
          {{getDeliveryName(d)}} , {{d.status.displayValue}}
        </div>
        <div>
          {{d.assignedHelper.getValue()}} 
        </div>
      </div>
    </mat-expansion-panel-header>
    <div *ngIf="d.getFamily().packingComment.value">
      {{d.getFamily().packingComment.value}}
    </div>
    <button mat-raised-button color="primary" *ngIf="showReadyToPickup()" [disabled]="readyToPickupDisabled()"
      (click)="clickReadyToPickup()">מוכן לאיסוף</button>
    <button mat-raised-button *ngIf="showReturnToPack()" (click)="clickReturnToPack()">החזר לאריזה</button>
    <br>
    <app-weekly-family-delivery-product-list [list]="deliveryList"></app-weekly-family-delivery-product-list>


  </mat-expansion-panel>


</mat-accordion>