.my-table {
    white-space: nowrap;
}
.header {
    border-width: 0;
}
.table-div {
    width: 100%;
    overflow-x: scroll;
    padding: 10px;
}
.other-values {
    padding-right: 18px;
}

.red {
    color: red;
}
.green {
    color: green;
}
