<h1 mat-dialog-title *ngIf="family">{{settings.lang.mergeForFamily}} {{family.name.value}}</h1>
<div mat-dialog-content>
    <table class="table table-bordered my-table" *ngIf="gs">
        <tr *ngFor="let c of gs.columns.items">
            <td>
                <div style="min-width:250px">
                    <data-control [map]="c" [settings]="gs.columns"></data-control>
                </div>
            </td>
            <td *ngFor="let f of families">
                <div *ngIf="f.columns.find(c.column).displayValue==c.column.displayValue; else elseBlock" class="green">
                    {{f.columns.find(c.column).displayValue}}</div>
                <ng-template #elseBlock><span class="red"> {{f.columns.find(c.column).displayValue}}</span>
                    <mat-icon style="color:green" (click)="c.column.value = f.columns.find(c.column).value">done
                    </mat-icon>
                </ng-template>
            </td>
        </tr>
        <tr>
            <td>
                <a (click)="updateCurrentFamily()">{{settings.lang.familyDetails}}</a>
            </td>
            <td *ngFor="let f of families">
                <a (click)="updateFamily(f)">{{settings.lang.familyDetails}}</a><br>
                <a
                    (click)="f.showDeliveryHistoryDialog({dialog:dialog,context:context})">{{settings.lang.deliveries}}</a>
            </td>
        </tr>
    </table>
</div>
<mat-dialog-actions>
    <button mat-raised-button color="warning" (click)="cancel()">
        {{settings.lang.cancel}}
    </button>
    <button mat-raised-button color="accent" (click)="confirm()">
        {{settings.lang.merge}}
    </button>


</mat-dialog-actions>