
mat-card{
    margin-top:10px;
}
button:disabled{
    color:gray;
}
.my-table{
    overflow-x: scroll;
    width:300px;
}
.container{
    
    overflow-x: scroll;
}
.content{
    
}
.badAddressTitle{
    color:red;
    margin: 5px;
    font-weight: 700;
}
.badAddressIcon{
    color:#FAC090;
}