<h4>
    משפחות {{families.totalRows}}
</h4>
<h5 *ngFor="let s of statistics">
    <a (click)="filterBy(s)"> {{s.name}} - {{s.count()}}</a>
</h5>
<mat-form-field class="full-width">
    <input matInput [(ngModel)]="searchString" (input)="doSearch()" placeholder="חיפוש משפחה" [ngModelOptions]="{standalone: true}">
    <mat-icon matSuffix (click)="clearSearch()">clear</mat-icon>
</mat-form-field>
<br>
<mat-card [class.hide]="!gridView">
<div class="table-responsive" >
        <button (click)="saveToExcel()">יצוא לאקסל</button>
    <data-grid [settings]="families"></data-grid>
    
</div>
</mat-card>
<button (click)="families.previousRow()" [disabled]="families.currentRow&& families.currentRow.wasChanged()||!families.previousRowAllowed()"
    [class.hide]="gridView" class="btn glyphicon glyphicon-chevron-left ng-star-inserted"></button>
<button (click)="families.nextRow()" [class.hide]="gridView" [disabled]="families.currentRow&&families.currentRow.wasChanged()"
    class="btn glyphicon glyphicon-chevron-right"></button>
<button (click)="gridView = !gridView" [class.hide]="gridView" class="btn glyphicon glyphicon-list-alt" title="חזרה לרשימה"></button>
<button (click)="families.addNewRow()" [class.hide]="gridView" [disabled]="families.currentRow&&families.currentRow.wasChanged()"
    class="btn btn-primary glyphicon glyphicon-plus"></button>

<div [class.hide]="gridView" *ngIf="families.currentRow">

    <button *ngIf="families.currentRow &&families.currentRow.wasChanged()" (click)="families.currentRow.save()" [disabled]="!families.currentRow.wasChanged()"
        class="btn glyphicon glyphicon-ok btn-success"></button>
    <button *ngIf="families.currentRow &&families.currentRow.wasChanged()" (click)="families.currentRow.reset();families.setCurrentRow(families.items[0]);"
        [disabled]="!families.currentRow.wasChanged()" class="btn btn-danger glyphicon glyphicon-ban-circle ng-star-inserted"></button>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        פרטי משפחה
                    </mat-panel-title>
                </div>
                <div>
                    <mat-panel-description>
                        {{families.currentRow.name.value}}
                    </mat-panel-description>
                </div>
            </mat-expansion-panel-header>
            <data-area [settings]="familiesInfo"></data-area>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        כתובת
                    </mat-panel-title>
                </div>
                <div>
                    <mat-panel-description>
                        {{families.currentRow.address.value}}
                    </mat-panel-description>
                </div>

            </mat-expansion-panel-header>
            <a (click)="families.currentRow.openWaze()" target="_blank">פתחי WAZE</a> |
            <a (click)="families.currentRow.openGoogleMaps()" target="_blank">פתחי גוגל </a>
            <data-area [settings]="familiesAddress"></data-area>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        טלפונים
                    </mat-panel-title>
                </div>
                <div>
                    <mat-panel-description>
                        {{families.currentRow.phone1.value}}
                    </mat-panel-description>
                </div>

            </mat-expansion-panel-header>
            <data-area [settings]="phones"></data-area>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        פרטי משלוח
                    </mat-panel-title>
                </div>
                <div>
                    <mat-panel-description>
                        {{families.currentRow.getDeliveryDescription()}}
                    </mat-panel-description>
                </div>

            </mat-expansion-panel-header>
            <data-area [settings]="deliverInfo"></data-area>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        פרטי שיחה
                    </mat-panel-title>
                </div>
                <div>
                    <mat-panel-description>
                        {{families.currentRow.callStatus.displayValue}}
                    </mat-panel-description>
                </div>

            </mat-expansion-panel-header>
            <data-area [settings]="callInfo"></data-area>
        </mat-expansion-panel>

    </mat-accordion>
    <button *ngIf="families.currentRow &&families.currentRow.wasChanged()" (click)="families.currentRow.save()" [disabled]="!families.currentRow.wasChanged()"
        class="btn glyphicon glyphicon-ok btn-success"></button>
    <button *ngIf="families.currentRow &&families.currentRow.wasChanged()" (click)="families.currentRow.reset();families.setCurrentRow(families.items[0]);"
        [disabled]="!families.currentRow.wasChanged()" class="btn btn-danger glyphicon glyphicon-ban-circle ng-star-inserted"></button>
</div>
<div *ngIf="families.currentRow">
    <button (click)="families.previousRow()" [disabled]="families.currentRow&& families.currentRow.wasChanged()||!families.previousRowAllowed()"
        [class.hide]="gridView" class="btn glyphicon glyphicon-chevron-left ng-star-inserted"></button>
    <button (click)="families.nextRow()" [class.hide]="gridView" [disabled]="families.currentRow&&families.currentRow.wasChanged()"
        class="btn glyphicon glyphicon-chevron-right"></button>
    <button (click)="gridView = !gridView" [class.hide]="gridView" class="btn glyphicon glyphicon-list-alt"></button>
    <button (click)="families.addNewRow()" [class.hide]="gridView" [disabled]="families.currentRow&&families.currentRow.wasChanged()"
        class="btn btn-primary glyphicon glyphicon-plus"></button>
</div>