<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          מה צריך
        </th>
        <th>
          יעד
        </th>
        <th>
          נאסף 
        </th>
        <th>
          אני מביאה
        </th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items.items" [class.success]="item.quantity.value==helperQuantity(item).quantity.value">
        <td>
          {{item.item.value}}
        </td>
        <td>
          {{item.quantity.value}}
        </td>
        <td>
           {{getTotalSoFar(item)}}
        </td>
        <td class="quantityField">
          <input type="phone" class="form-control" [(ngModel)]="helperQuantity(item).quantity.value">
        </td>

      </tr>
    </tbody>
  </table>
</div>