.total-title {
  margin-bottom: 3px;
}
.map-button {
  margin-top: 10px;
}
.sendSmsButtonLine {
  margin-bottom: 5px;
  display: flex;

  justify-content: center;
}

.families-container {
  display: flex;
  flex-wrap: wrap;
}
.family {
  border-width: 1px;

  border-style: ridge;
  padding: 9px;
  flex: 1;
  min-width: 170px;
}

h3 {
  margin-top: 5px;
}
[dir="rtl"] .printTable {
  th,
  td {
    text-align: right;
  }
}
.printTable {
  -webkit-print-color-adjust: exact;
  width: 100%;
  th,
  td {
    border: 1px solid #ddd !important;
    padding: 8px !important;
  }
  tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }
}

.not-visible {
  visibility: hidden;
}

.phone-container {
  display: flex;
  padding-bottom: 10px;
  > div {
    padding: 0 5px;
    align-self: center;
  }
}
.contact-helper-button {
  width: 308px;
}

.success-div {
  position: fixed;
  font-size: 72px;
  top: 10%;
  left: 50%;
  margin-left: -50px; /* Negative half of width. */
  //transform: translate(-100%, -100%);
  transition: all 300ms ease;
  
  z-index: 100;
}
.cool {
  transform: translate(0, 0);
}
.mat-card{
  padding-left: 8px;
  padding-right: 8px;
}