<div class="success-div" *ngFor="let s of visibleSigns; let i=index" @message>
  {{s}}
</div>
<button mat-raised-button color="primary" (click)="assignNewDelivery()" *ngIf="showCloseDeliveries()&&!partOfAssign">
  {{settings.lang.assignCloseDeliveries}}</button>
<mat-card class="no-print" *ngIf="familyLists.toDeliver.length>0||familyLists.forceShowMap">
  <mat-card-title>
    {{familyLists.getLeftFamiliesDescription()}}
    <div>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="cancelAll()" *ngIf="partOfAssign"
          style="color:red;">{{settings.lang.cancelAllAssignments}}</button>
        <button mat-menu-item (click)="moveBasketsToOtherVolunteer()"
          *ngIf="partOfAssign">{{settings.lang.moveDeliveriesToAnotherVolunteer}}</button>
        <ng-container *ngFor="let h of otherDependentVolunteers">
          <button mat-menu-item (click)="moveBasketsTo(h)" *ngIf="partOfAssign">{{settings.lang.moveDeliveriesTo}}
            {{h.name.value}}</button>
        </ng-container>
        <button mat-menu-item (click)="okAll()" *ngIf="partOfAssign"
          class="primary-menu">{{settings.lang.markAllDeliveriesAsSuccesfull}}</button>

        <button mat-menu-item (click)="familyLists.showBasketSummary()"
          *ngIf="notMLT()">{{settings.lang.parcelSummary}}</button>
        <button mat-menu-item (click)="refreshRoute()">{{settings.lang.replanRoute}}</button>
        <button mat-menu-item (click)="showRouteOnGoogleMaps()">
          {{settings.lang.showRouteOnGoogleMaps}}</button>
        <button mat-menu-item (click)="setDefaultCourier()"
          *ngIf="partOfAssign">{{settings.lang.setAsDefaultVolunteerForTheseFamilies}}</button>

      </mat-menu>



      <button mat-icon-button [matMenuTriggerFor]="appMenu" *ngIf="familyLists.toDeliver.length>0"
        (click)="refreshDependentVolunteers()">
        <mat-icon>more_vert</mat-icon>
      </button>

    </div>
  </mat-card-title>
  <div
    [class.not-visible]="!(familyLists.toDeliver.length>=1&&familyLists.routeStats&&familyLists.routeStats.totalKm&&showLeftFamilies())"
    class="no-print">
    {{settings.lang.estimatedTravelTime}} <span *ngIf="familyLists.routeStats"> {{familyLists.routeStats.totalTime}}
      {{settings.lang.minutes}},
      {{familyLists.routeStats.totalKm}} {{settings.lang.km}} <span
        style="direction: ltr;">{{familyLists.getKmDiffString()}}</span> </span>
  </div>
  <mat-tab-group (selectedTabChange)="mapTabClicked()" #theTab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">toc</mat-icon>
        {{settings.lang.list}}
      </ng-template>
      <mat-accordion class="no-print">
        <ng-container *ngFor="let f of familyLists.toDeliver;let i=index;trackBy:trackBy">
          <mat-expansion-panel #myPanel *ngIf="limitReady.shouldShow(i)">
            <mat-expansion-panel-header>
              <app-family-in-list [f]="f" [i]="i+1" style="width:100%"
                [distanceFromPreviousLocation]="distanceFromPreviousLocation(f,i)" (delivered)="deliveredToFamily(f)"
                [latestAssign]="partOfAssign&&f.courierAssingTime.value?.valueOf()==familyLists.maxAssignTime"
                [newAssign]="familyLists.highlightNewFamilies&&!familyLists.familiesAlreadyAssigned.get(f.id.value)">
              </app-family-in-list>


            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>


              <app-family-info [f]="f" [showHelp]="true" [partOfAssign]="partOfAssign"
                (assignmentCanceled)="cancelAssign(f)" (refreshList)="reloadList()">


                <button mat-raised-button class="myButton" color="accent"
                  (click)="deliveredToFamily(f)">{{settings.deliveredButtonText.value}}</button>
                <br *ngIf="settings.showLeftThereButton.value" />
                <button *ngIf="settings.showLeftThereButton.value" mat-raised-button class="myButton"
                  (click)="leftThere(f)">{{settings.lang.leftDeliveryNextToHouse}}
                </button>
                <br />
                <button mat-raised-button class="myButton badButton"
                  (click)="couldntDeliverToFamily(f)">{{settings.lang.ranIntoAProblem}}</button>
                <button mat-raised-button class="myButton" *ngIf="settings.isSytemForMlt()"
                  (click)="updateComment(f)">{{settings.lang.updateComment}}</button>


              </app-family-info>
            </ng-template>
          </mat-expansion-panel>
        </ng-container>
      </mat-accordion>
      <button mat-raised-button (click)="limitReady.showAll()" *ngIf="limitReady.showButton()"
        style="margin-top: 10px;">{{settings.lang.showAllDeliveries}}</button>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">room</mat-icon>
        {{settings.lang.map}}
      </ng-template>
      <app-map #map> </app-map>
    </mat-tab>
  </mat-tab-group>

</mat-card>
<div *ngIf="familyLists.distCenter&&!partOfAssign&&!partOfReview">
  <mat-accordion>
    <mat-expansion-panel style="background-color:lightgreen">
      <mat-expansion-panel-header style="background-color:lightgreen">
        <div>
          <mat-panel-title> <strong>{{settings.lang.thisIsTheDestination}}</strong> :
            {{familyLists.distCenter.name.value}}</mat-panel-title>
          <mat-panel-description>{{familyLists.distCenter.address.value}}</mat-panel-description>
        </div>
      </mat-expansion-panel-header>
      <div *ngIf="familyLists.distCenter.comments.value">
        <mat-icon color="accent" style="vertical-align: middle">comment</mat-icon>
        <strong style="color:red">{{settings.lang.notice}} </strong> {{familyLists.distCenter.comments.value}}
      </div>
      <h4>{{settings.lang.address}}</h4>
      <div style="display:flex">
        <span (click)="familyLists.distCenter.openWaze()">
          <img src="assets/waze.png">

        </span>
        <div style="flex-grow:1;padding:0 5px;">
          <a (click)="familyLists.distCenter.openWaze()">
            <span style="display:block"> {{familyLists.distCenter.address.value}} </span>
          </a>
        </div>
      </div>

      <h4 *ngIf="familyLists.distCenter.phone1.value || familyLists.distCenter.phone2.value">{{settings.lang.phones}}:
      </h4>
      <div *ngIf="familyLists.distCenter.phone1.value" class="phone-container">
        <a href="tel:{{familyLists.distCenter.phone1.value}}">
          <button mat-mini-fab style="vertical-align: middle" color="primary">
            <mat-icon>call</mat-icon>
          </button>
        </a>
        <div>
          <a href="tel:{{familyLists.distCenter.phone1.value}}">{{familyLists.distCenter.phone1.displayValue}}</a>,
          {{familyLists.distCenter.phone1Description.value?familyLists.distCenter.phone1Description.value:familyLists.distCenter.name.value}}
        </div>
      </div>

      <div *ngIf="familyLists.distCenter.phone2.value" class="phone-container">
        <a href="tel:{{familyLists.distCenter.phone2.value}}">
          <button mat-mini-fab style="vertical-align: middle" color="primary">
            <mat-icon>call</mat-icon>
          </button>
        </a>
        <div>
          <a href="tel:{{familyLists.distCenter.phone2.value}}">{{familyLists.distCenter.phone2.displayValue}}</a>,
          {{familyLists.distCenter.phone2Description.value?familyLists.distCenter.phone2Description.value:familyLists.distCenter.name.value}}
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-raised-button color="primary" (click)="selectDistCenter()"
    *ngIf="!partOfAssign&&settings.isSytemForMlt()">
    החלף יעד למסירת הציוד</button>
</div>

<div style="display:flex;flex-direction: column;">
  <h4 *ngIf="!showLeftFamilies()">
    {{allDoneMessage()}}
  </h4>

  <div class="sendSmsButtonLine no-print"
    *ngIf="familyLists.toDeliver.length &&(partOfAssign&&!partOfReview||partOfReview&&!helperGotSms)">
    <button mat-raised-button color="accent"
      style="border-top-left-radius: 0px;border-bottom-left-radius:0px;width:270px"
      (click)="sendSms(false)">{{settings.lang.sendSmsWithLink}}</button>
    <button [matMenuTriggerFor]="appMenuSms" mat-raised-button color="accent" style="border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-left: 0;
      padding-right: 0;
      min-width: 38px;" (click)="prepareMessage(false)">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenuSms="matMenu">
      <button mat-menu-item (click)="sendWhatsapp()">{{settings.lang.sendLinkOnWhatsapp}}</button>
      <button mat-menu-item (click)="copyMessage()">{{settings.lang.copyMessageWithLink}}</button>
      <button mat-menu-item (click)="copyLink()">{{settings.lang.copyLink}}</button>
      <button mat-menu-item (click)="sendPhoneSms()">{{settings.lang.sendSmsFromDevice}}</button>
      <button mat-menu-item (click)="customSms()">{{settings.lang.customSmsMessage}}</button>

    </mat-menu>

  </div>
  <div class="sendSmsButtonLine no-print">
    <button *ngIf="partOfReview&&familyLists.toDeliver.length>0" mat-raised-button
      class="contact-helper-button no-print"
      style="border-top-left-radius: 0px;border-bottom-left-radius:0px;width:270px" color="primary"
      (click)="sendSms(true)">

      <span
        *ngIf="familyLists&&familyLists.helper&&familyLists.helper.reminderSmsDate.value; else elseContent">{{settings.lang.reminderSent}}
        {{familyLists.helper.reminderSmsDate.relativeDateName(context)}} {{settings.lang.resendReminder}}

      </span>

      <ng-template #elseContent>
        <span>{{settings.lang.sendReminderSms}}</span>
      </ng-template>
    </button>

    <button *ngIf="partOfReview&&familyLists.toDeliver.length>0" [matMenuTriggerFor]="appMenuSmsReminder"
      mat-raised-button color="primary" style="border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding-left: 0;
      padding-right: 0;
      min-width: 38px;" (click)="prepareMessage(true)">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenuSmsReminder="matMenu">
      <button mat-menu-item (click)="sendWhatsapp()">{{settings.lang.sendLinkOnWhatsapp}}</button>
      <button mat-menu-item (click)="copyMessage()">{{settings.lang.copyMessageWithLink}}</button>
      <button mat-menu-item (click)="copyLink()">{{settings.lang.copyLink}}</button>
      <button mat-menu-item (click)="sendPhoneSms()">{{settings.lang.sendSmsFromDevice}}</button>
      <button mat-menu-item (click)="customSms()">{{settings.lang.customSmsMessage}}</button>
    </mat-menu>
  </div>

  <div class="sendSmsButtonLine no-print">
    <button mat-raised-button class="contact-helper-button no-print" *ngIf="partOfReview&&familyLists.helper"
      (click)="callHelper()">
      <mat-icon>phone</mat-icon>
      {{settings.lang.dialTo}}{{familyLists.helper.name.value}}
      {{familyLists.helper.phone.displayValue}}

    </button>
  </div>
  <div class="sendSmsButtonLine no-print">
    <button mat-raised-button class="contact-helper-button"
      *ngIf="partOfReview&&familyLists.helper && familyLists.escort" (click)="callEscort()">
      {{settings.lang.callEscort}} {{familyLists.escort.name.value}}
      {{familyLists.escort.phone.displayValue}}

    </button>
  </div>
  <div class="sendSmsButtonLine no-print" *ngIf="partOfAssign" style="height:50px">
  </div>

  <div class="print-only">
    <div *ngIf="familyLists.helper&&!familyLists.helper.isNew()">
      <h4>{{settings.lang.hello}}
        {{familyLists.helper.name.value +(familyLists.helper.eventComment.value?' ('+familyLists.helper.eventComment.value+')':'')}},
        {{settings.lang.phone}} {{familyLists.getHelperPhone() }}, {{settings.lang.thereAre}}
        {{familyLists.getLeftFamiliesDescription()}} </h4>
      {{getHelpText()}}
    </div>
    <table class="printTable">
      <tr>
        <th>{{settings.lang.family}}</th>
        <th>{{settings.lang.address}}</th>
        <th>{{settings.lang.phones}}</th>
        <th>{{settings.lang.basket}}</th>
      </tr>
      <tr *ngFor="let f of familyLists.toDeliver;let i=index">
        <td>
          {{i+1}}. {{f.name.value}}
          <ng-container *ngIf="f.deliveryComments.value">
            <br />
            <strong style="color:red">{{settings.lang.notice}} </strong> {{f.deliveryComments.value}}
          </ng-container>
        </td>

        <td>
          {{f.address.value}}
          <ng-container *ngIf="f.area.value">
            <br />
            {{f.area.defs.caption}}: {{f.area.value}}
          </ng-container>
          <ng-container *ngIf="f.floor.value||f.appartment.value">
            <br />
          </ng-container>
          <ng-container *ngIf="f.floor.value">
            {{f.floor.defs.caption}} {{f.floor.value}}
          </ng-container>
          <ng-container *ngIf="f.appartment.value">
            {{f.appartment.defs.caption}} {{f.appartment.value}}
          </ng-container>
          <ng-container *ngIf="f.entrance.value">
            {{f.entrance.defs.caption}} {{f.entrance.value}}
          </ng-container>
          <ng-container *ngIf="f.addressComment.value">
            <br /> {{f.addressComment.value}}
          </ng-container>
        </td>
        <td>
          {{f.phone1.displayValue}}<ng-container *ngIf="f.phone1Description.value">, {{f.phone1Description.value}}
          </ng-container>
          <div style="margin-top:5px" *ngIf="f.phone2.value">

            <div style="display:inline-block">
              {{f.phone2.displayValue}}, {{f.phone2Description.value?f.phone2Description.value:f.name.value}}

            </div>
          </div>
        </td>
        <td>
          <span *ngIf="f.quantity.value>1">{{f.quantity.value}} x </span> {{f.basketType.displayValue}}
        </td>
      </tr>
      <tr>


      </tr>
    </table>
  </div>

  <mat-card *ngIf="familyLists.problem.length>0" class="no-print">
    <mat-card-title>{{settings.lang.failedDeliveries}} - {{familyLists.problem.length}}
    </mat-card-title>
    <mat-accordion>
      <mat-expansion-panel #myPanel *ngFor="let f of familyLists.problem">
        <mat-expansion-panel-header>
          <app-family-in-list [f]="f" style="width:100%"></app-family-in-list>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-family-info [f]="f" [showHelp]="true" [partOfAssign]="partOfAssign"
            (assignmentCanceled)="cancelAssign(f)" (refreshList)="familyLists.reload()">
            <button mat-raised-button class="myButton"
              (click)="updateComment(f)">{{settings.lang.updateComment}}</button>
            <button mat-raised-button class="myButton badButton"
              (click)="returnToDeliver(f)">{{settings.lang.clickedByMistake}}</button>

          </app-family-info>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
  <mat-card *ngIf="familyLists.delivered.length>0" class="no-print">
    <mat-card-title>
      {{settings.lang.deliveriesDoneInTheLastTwoDays}} - {{familyLists.delivered.length}}
    </mat-card-title>
    <mat-accordion>
      <ng-container *ngFor="let f of familyLists.delivered;let i=index">
        <mat-expansion-panel #myPanel *ngIf="limitDelivered.shouldShow(i)">
          <mat-expansion-panel-header>
            <app-family-in-list [f]="f" style="width:100%"></app-family-in-list>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            <app-family-info [f]="f" [showHelp]="true" [partOfAssign]="partOfAssign"
              (assignmentCanceled)="cancelAssign(f)" (refreshList)="familyLists.reload()">
              <button mat-raised-button class="myButton"
                (click)="updateComment(f)">{{settings.lang.updateComment}}</button>
              <button mat-raised-button class="myButton badButton"
                (click)="returnToDeliver(f)">{{settings.lang.clickedByMistake}}</button>
            </app-family-info>
          </ng-template>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
    <button mat-raised-button (click)="limitDelivered.showAll()" *ngIf="limitDelivered.showButton()"
      style="margin-top: 10px;">{{settings.lang.showAllCompletedDeliveries}}</button>
  </mat-card>


</div>