<h3 matDialogHeader>{{args.title}}</h3>

<mat-dialog-content>
    <mat-nav-list role="list">
        <mat-list-item *ngFor="let h of args.options" (click)="select(h)">

            <span style="min-width:100px;">
                <mat-checkbox *ngIf="args.multiSelect" [(ngModel)]="h.selected">
                    {{h.name}}
                </mat-checkbox>

            </span>

            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-nav-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="warning" (click)="close()">
        {{settings.lang.cancel}}
    </button>
    <button mat-raised-button color="accent" (click)="confirm()" *ngIf="args.multiSelect">
        {{settings.lang.confirm}}
    </button>

</mat-dialog-actions>