<div mat-dialog-content style="height:65vh">
  <form (submit)="selectFirst()">

      <mat-form-field style="width:100%">
        <input matInput [(ngModel)]="searchString" (input)="doFilter()" placeholder="{{settings.lang.searchVolunteer}}"
          [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix (click)="clearHelper()">clear</mat-icon>
      </mat-form-field>
    <h4 *ngIf="showingRecentHelpers">{{settings.lang.recentVolunteers}}</h4>
    <mat-list role="list">
      <mat-list-item *ngFor="let h of filteredHelpers" (click)="select(h)">
        <div style="display:flex;flex-direction: column;">
          <mat-panel-title> {{h.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{h.phone}}
          </mat-panel-description>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>

    </mat-list>

  </form>
  <button mat-raised-button color="accent" (click)="moreHelpers()"
    *ngIf="showingRecentHelpers|| filteredHelpers.length==findOptions.limit">{{settings.lang.moreVolunteers}}
  </button>
</div>
<mat-dialog-actions>
  <button mat-raised-button color="warning" (click)="close()" >
      {{settings.lang.cancel}}
  </button>
  <button mat-raised-button style="color:red" (click)="clearHelper()" >
      {{settings.lang.clear}}
  </button>
  <button mat-raised-button color="accent" (click)="byLocation()" *ngIf="args.location">
      {{settings.lang.byLocation}}
  </button>

</mat-dialog-actions>