<div dir="rtl">
  <mat-card>
    <div class="fullSize">
      
      <form (submit)="selectFirst()">

        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="searchString" (input)="doFilter()" placeholder="חפשי שם" [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix (click)="clearHelper()">clear</mat-icon>
        </mat-form-field>
        <h4 *ngIf="showingRecentHelpers">{{settings.lang.recentVolunteers}}</h4>
        <mat-nav-list role="list">
          <mat-list-item *ngFor="let h of filteredHelpers" (click)="select(h)">

            <span style="min-width:100px;"> {{h.name.value}}
            
            </span>

            {{h.phone.displayValue}}
            <ng-container *ngIf="showCompany()&&h.company.value">
                <br/>
                {{h.company.value}}
              </ng-container>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-nav-list>
       
      </form>
      <button mat-raised-button color="accent" (click)="moreHelpers()" *ngIf="showingRecentHelpers|| filteredHelpers.length==findOptions.limit">{{settings.lang.moreVolunteers}}
      </button>
    </div>
  </mat-card>

</div>
