<mat-checkbox [(ngModel)]="onlyMyFamilies" *ngIf="allowOtherBaskets()">רק סלים שלי
</mat-checkbox>
<ng-container *ngFor="let s of deliveriesByStatus">
  <ng-container *ngIf="countDeliveries(s.deliveries)>0">
    <h4>
      {{s.status.toString()}} - {{countDeliveries(s.deliveries)}}
    </h4>
    <mat-accordion>
      <ng-container *ngFor="let d of s.deliveries">
        <mat-expansion-panel *ngIf="showDelivery(d)" (opened)="deliveryList.selectDelivery(d)">
          <mat-expansion-panel-header>
            <div class="family-title">
              <div>
                {{d.getFamily().name.value}} ({{d.getFamily().codeName.value}})
              </div>
              <div *ngIf="allowOtherBaskets()">
                {{d.assignedHelper.getValue()}}
              </div>
            </div>
          </mat-expansion-panel-header>
          <div *ngIf="d.getFamily().packingComment.value">
            {{d.getFamily().packingComment.value}}
          </div>
          <app-weekly-family-delivery-product-list [list]="deliveryList"></app-weekly-family-delivery-product-list>


        </mat-expansion-panel>
      </ng-container>

    </mat-accordion>

  </ng-container>
</ng-container>