<h3>{{settings.lang.addressesWithMoreThanOneFamily}}</h3>
<table class="table table-bordered">
    <tr>
        <th></th>
        <th (click)="sortByAddress()">{{settings.lang.address}}</th>
        <th (click)="sortByCount()">{{settings.lang.families}}</th>
        <th>סה"כ {{duplicateFamilies.length}}</th>
        
    </tr>
    <tr *ngFor="let d of duplicateFamilies; let i=index">
        <td>{{i+1}}</td>
        <td> {{d.address}}</td>
        <td>{{d.count}}</td>
        <td><a (click)="showFamilies(d)">{{settings.lang.showFamilies}}</a></td>
        
    </tr>
</table>