<div class="myDiv">
  <h1>
    פרטי משנע
  </h1>

  <mat-form-field class="full-width">
    <input matInput placeholder="טלפון" type="tel" [(ngModel)]="phone" (input)="searchPhone()">
    <mat-icon matSuffix (click)="findHelper()">search</mat-icon>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="שם" [(ngModel)]="name">
  </mat-form-field>

  סינון שפה
  <mat-button-toggle-group #group="matButtonToggleGroup" [value]="filterLangulage">
    <mat-button-toggle *ngFor="let f of langulages" value="{{f.id}}">
      {{f.toString()}}
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div>
    <button (click)="assignItem()" >הוסף ארגז רגיל</button>
    <button>הוסף ארגז גדול</button>
  </div>
  <h1> משפחות ששוייכו</h1>