<div class="myDiv" >
  <div class="no-print" *ngIf="showHelperInput">

    <mat-card>
      <mat-card-title>
        {{settings.lang.volunteerInfo}}
        <div>

          <mat-menu #appMenu77>
            <button mat-menu-item (click)="findHelper()">{{settings.lang.findHelperByName}}</button>
            <button mat-menu-item (click)="clearHelperInfo()">{{settings.lang.clearHelperInfo}}</button>
            <button mat-menu-item (click)="saveHelper()"
              *ngIf="showSave()">{{settings.lang.saveHelperInfoAndMoveToNextHelper}}</button>
            <button *ngIf="!settings.showCompanies.value" mat-menu-item
              (click)="settings.showCompanies.value= true; changeShowCompany()">{{settings.lang.showHelperCompany}}</button>
            <button *ngIf="settings.showCompanies.value" mat-menu-item
              (click)="settings.showCompanies.value= false; changeShowCompany()">{{settings.lang.hideHelperCompany}}</button>

          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="appMenu77">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </mat-card-title>

      <mat-form-field appearance="outline" class="full-width-form-field dense-form-field">
        <mat-label>{{settings.lang.volunteerPhoneNumber}}</mat-label>
        <input matInput [(ngModel)]="phone" (input)="searchPhone()" type="tel" #phoneInput>
        <div matSuffix style="display:flex">
          <mat-icon (click)="clearHelperInfo()" class="clickable-icon">clear</mat-icon>
          <mat-icon (click)="findHelper()" class="clickable-icon">search</mat-icon>
        </div>
      </mat-form-field>
      <data-area [settings]="area" *ngIf="phone&& isValidPhone()&&showHelperInput&&helper"></data-area>
    </mat-card>
  </div>


  <span *ngIf="showHelperInput&&(!helper||!helper.name.value)" class="help no-print">{{settings.lang.assignHelpText}} <mat-icon (click)="findHelper()" class="clickable-icon">search</mat-icon></span>
  <br *ngIf="showHelperInput&&(!helper||!helper.name.value)">
  <a href="https://youtu.be/8LCeQRQPL1U" *ngIf="showHelperInput&&(!helper||!helper.name.value)&&settings.showVideo()"
    class="help no-print">{{settings.lang.asignVideoHelp}}</a>
  <div *ngIf="helper&&helper. name.value&&helper.name.value.length>=2">
    <mat-card class="no-print">
      <mat-card-title>
        {{settings.lang.asignDeliveriesTo}} {{helper.name.value}}
        <div>

          <mat-menu #filterOptionsMenu="matMenu">

            <mat-checkbox class="mat-menu-item" [(ngModel)]="o.inputValue" (change)="changeShowCompany()"
              *ngFor="let o of filterOptions">{{o.defs.caption}}</mat-checkbox>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="filterOptionsMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </mat-card-title>
      <mat-card-content>

        <div class="filter-div">
          <mat-form-field appearance="outline" class="full-width-form-field dense-form-field"
            *ngIf="settings.showGroupsOnAssing.value">
            <mat-label>{{settings.lang.familyGroups}}</mat-label>
            <select matNativeControl class="form-control" #lang (change)="refreshBaskets()" [(ngModel)]="filterGroup">
              <option value="">{{settings.lang.allGroups}}</option>
              <option *ngFor="let g of groups" value="{{g.name.value}}">{{g.name.value}} - {{g.familiesCount.value}}
              </option>
            </select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width-form-field dense-form-field"
            *ngIf="settings.showCityOnAssing.value">
            <mat-label>{{settings.lang.distributionCity}}</mat-label>
            <select matNativeControl class="form-control" #city (change)="selectCity()" [(ngModel)]="filterCity">
              <option value="">{{settings.lang.allCities}}</option>
              <option *ngFor="let c of cities" value="{{c.name}}">{{c.name}} - {{c.unassignedFamilies}}</option>
            </select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-form-field dense-form-field"
            *ngIf="settings.showAreaOnAssing.value">
            <mat-label>{{settings.lang.region}}</mat-label>
            <select matNativeControl class="form-control" #city (change)="selectCity()" [(ngModel)]="filterArea">
              <option value="">{{settings.lang.allRegions}}</option>
              <option *ngFor="let c of areas" value="{{c.name}}">{{c.name}} - {{c.unassignedFamilies}}</option>
            </select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="full-width-form-field dense-form-field"
            *ngIf="settings.showBasketOnAssing.value">
            <mat-label>{{settings.lang.basketType}}</mat-label>
            <select matNativeControl class="form-control" #lang [(ngModel)]="basketType">
              <option *ngFor="let b of baskets" [ngValue]="b">{{b.name}} <span *ngIf="b!=allBaskets">-
                  {{b.unassignedFamilies}}</span></option>
            </select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width-form-field dense-form-field"
            *ngIf="settings.showNumOfBoxesOnAssing.value">
            <mat-label>{{settings.lang.numOfFamilies}}</mat-label>
            <input matInput type="number" id="numOfBaskets" [(ngModel)]="numOfBaskets">
            <div matSuffix style="display:flex">
              <button mat-icon-button (click)="add(1)">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button (click)="add(-1)">
                <mat-icon>remove</mat-icon>
              </button>
            </div>
          </mat-form-field>

          <mat-checkbox [(ngModel)]="preferRepeatFamilies" style="width:auto" *ngIf="showRepeatFamilies">
            {{settings.lang.prioritizeRepeatFamilies}} ({{repeatFamilies}})
          </mat-checkbox>

        </div>




        <div class="no-print" style="display:flex;justify-content: center;">
          <button mat-raised-button color="primary" (click)="assignItem()"
            [disabled]="basketType.unassignedFamilies==0 || assigning"
            style="border-top-left-radius: 0px;border-bottom-left-radius:0px;">
            {{assigning?settings.lang.inProgress: basketType.unassignedFamilies==0?settings.lang.noDeliveriesLeft: familyLists.allFamilies.length>0?settings.lang.asignClosestDelivery:settings.lang.asignAnyDelivery}}
            -
            {{getBasketsToClick()}}</button>
          <button mat-button [matMenuTriggerFor]="basketMenu" mat-raised-button color="primary" style="border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          padding-left: 0;
          padding-right: 0;
          min-width: 38px;" *ngIf="baskets.length">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #basketMenu="matMenu">
            <button mat-menu-item (click)="assignItem(true)"
              *ngIf="preferRepeatFamilies&&repeatFamilies>0">{{settings.lang.addAllRepeatFamilies}}</button>
            <button mat-menu-item (click)="addSpecial()"
              *ngIf="specialFamilies">{{settings.lang.specialFamilies}} - {{specialFamilies}}</button>
            <button mat-menu-item (click)="addSpecific()">{{settings.lang.selectDeliveryByName}}</button>
            <button mat-menu-item (click)="assignOnMap()">{{settings.lang.selectDeliveryOnMap}}</button>
            <button mat-menu-item (click)="addStreet()">{{settings.lang.selectDeliveryByStreet}}</button>


            <button mat-menu-item (click)="moveBasktesFromOtherHelper()">{{settings.lang.transferDeliveriesFromOtherVolunteer}}</button>
            

          </mat-menu>



        </div>

      </mat-card-content>
    </mat-card>


    <!--
    <input type="checkbox" [(ngModel)]="this.useGoogleOptimization">
    <button (click)="doRefreshRoute()">Run Refresh Route</button>-->
    <app-helper-families #helperFamilies [familyLists]="familyLists" [partOfAssign]="true" (assignmentCanceled)="assignmentCanceled()"
      (assignSmsSent)="smsSent()"></app-helper-families>

  </div>
</div>