<mat-card>
    
    <mat-horizontal-stepper #stepper>
        <mat-step label="בחירת קובץ אקסל">
            <a href="https://youtu.be/Jtmhyf8-E4g" target="_blank"
    class="no-print" style="margin-right:10px" >{{'לסרטון הדרכה על קליטה מאקסל לחץ כאן'|translate}}</a>   
            <h3> בחר קובץ אקסל</h3> <input type="file" (change)="fileChange($event)" />
        </mat-step>
        <mat-step label="הגדרת העמודות">


            <ng-container *ngIf="filename">

                <button (click)="loadSettings()" mat-raised-button>טען הגדרות</button>
                <button (click)="saveSettings()" mat-raised-button>שמור הגדרות</button>
                <button (click)="saveSettings(); this.stepper.next()" mat-raised-button  color="accent">המשך לשלב הבא</button>

                <!--
                <h3>עמודות מהאקסל</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>עמודה באקסל
                        </th>
                        <th>
                            עמודה במערכת
                        </th>
                    </tr>
                    <ng-container *ngFor="let ac of excelColumns; let i = index">
                        <tr *ngIf="ac.column&&ac.column!=''">
                            <td>{{ac.excelColumn}} - {{ac.title}}</td>
                            <td>
                                <select [(ngModel)]="ac.column">
                                    <option value="">לא לקלוט</option>
                                    <option *ngFor="let c of columns" [ngValue]="c">{{c.name}}</option>
                                </select></td>
                        </tr>
                    </ng-container>
                </table>-->

                <h3>עמודות שלא מופיעות באקסל</h3>

                <ul>
                    <li *ngFor="let ac of additionalColumns; let i = index">
                        <select [(ngModel)]="ac.column">
                            <option value="">לא לקלוט</option>
                            <option *ngFor="let c of columns" [ngValue]="c">{{c.name}}</option>
                        </select>
                        <input [(ngModel)]="ac.value">
                        <button (click)="additionalColumns.splice(i,1)">הסר</button>
                    </li>
                </ul>
                <button (click)="additionalColumns.push({})" mat-raised-button>
                    הוסף עמודה
                </button>

                <h3>בחירת עמודות מאקסל</h3>


                <div class="table-div">
                    <table class="table table-bordered">
                        <tr>
                            <th>#</th>

                            <th *ngFor="let ec of excelColumns">
                                {{ec.title}}
                                <br>
                                <select [(ngModel)]="ec.column">
                                    <option value="">לא לקלוט</option>
                                    <option *ngFor="let c of columns" [ngValue]="c">{{c.name}}</option>
                                </select>
                            </th>
                        </tr>
                        <ng-container *ngFor="let r of rows | paginate: { itemsPerPage: 10,currentPage:excelPage,id:'excelPage'}">
                            <tr >
                                <td>{{r}}
                                </td>

                                <td *ngFor="let c of excelColumns">
                                    {{getTheData(c.excelColumn+r)}}
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
                <pagination-controls (pageChange)="excelPage = $event" previousLabel="קודם" nextLabel="הבא"
                    id="excelPage"></pagination-controls> סה"כ {{rows.length}} שורות באקסל
            </ng-container>
        </mat-step>
        <mat-step label="הגדרות אחרונות">
            <button (click)="testImport()" mat-raised-button  color="accent">המשך לשלב הבא</button>
            <h3>הגדרות אחרונות...</h3>
            
            <data-area [settings]="settingsArea" *ngIf="settingsArea"></data-area>

        </mat-step>
        <mat-step label="ביצוע הקליטה">
            <h3>תוצאות</h3>
            <mat-tab-group>
                <mat-tab label="{{'משפחות חדשות'|translate}} - {{newRows.length}}" *ngIf="newRows&&newRows.length">
                    
                    <div class="table-div">

                        <table class="table table-bordered" style="white-space: nowrap;">
                            <tr>
                                <th></th>
                                <th></th>
                                <th *ngFor="let c of columnsInCompare">
                                    {{c.defs.caption}}
                                </th>
                            </tr>
                            <ng-container
                                *ngFor="let i of newRows  | paginate: { itemsPerPage: 100,currentPage:newRowsPage,id:'newRows'}">
                                <tr>
                                    <td>
                                        <mat-icon style="color:red" (click)="newRows.splice(newRows.indexOf(i),1)">
                                            delete_forever</mat-icon>
                                    </td>
                                    <td>{{i.rowInExcel}}<br></td>
                                    <td *ngFor="let c of columnsInCompare">

                                        {{getColInfo(i,c).newDisplayValue}}

                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                    </div>
                    <pagination-controls (pageChange)="newRowsPage = $event" previousLabel="קודם" nextLabel="הבא"
                        id="newRows">
                    </pagination-controls>
                    <button (click)="addAll()" mat-raised-button  color="accent">{{'הוסף את כל המשפחות'|translate}}</button>
                </mat-tab>
                <mat-tab label="{{'משפחות לעדכון'|translate}} - {{updateRows.length}}" *ngIf="updateRows&&updateRows.length">
                    <div class="table-div">
                        <table class="table table-bordered" style="white-space: nowrap;">
                            <tr>
                                <th></th>
                                <th></th>
                                <th *ngFor="let c of columnsInCompare">
                                    {{c.defs.caption}} <mat-icon style="color:green" *ngIf="getColUpdateCount(c)>0"
                                        (click)="updateAllCol(c)">done_all
                                    </mat-icon>

                                </th>
                            </tr>
                            <ng-container
                                *ngFor="let i of updateRows | paginate: { itemsPerPage: 100,currentPage:updateRowsPage,id:'updateRows'}">
                                <tr>
                                    <td>
                                        <mat-menu #updatedRowOptions="matMenu">

                                            <button mat-menu-item (click)="updateRows.splice(updateRows.indexOf(i),1)">{{'הסר ממשפחות לעדכן'|translate}}</button>
                                            <button mat-menu-item (click)="moveFromUpdateToAdd(i)">{{'העבר למשפחות להוספה'|translate}}</button>
                                          </mat-menu>
                                
                                          <button mat-icon-button [matMenuTriggerFor]="updatedRowOptions">
                                            <mat-icon>more_vert</mat-icon>
                                          </button>
                                     
                                    </td>
                                    <td>{{i.rowInExcel}}<br></td>
                                    <td *ngFor="let c of columnsInCompare">
                                        <span
                                            [class.newValue]="!i.newRow&&i.duplicateFamilyInfo&&i.duplicateFamilyInfo.length==1&& getColInfo(i,c).newDisplayValue!=getColInfo(i,c).existingDisplayValue">
                                            {{getColInfo(i,c).newDisplayValue}}</span>
                                        <ng-container
                                            *ngIf="!i.newRow&&i.duplicateFamilyInfo&&i.duplicateFamilyInfo.length==1&& getColInfo(i,c).newDisplayValue!=getColInfo(i,c).existingDisplayValue">
                                            <br><span
                                                style="color:red;text-decoration-line: line-through">{{getColInfo(i,c).existingDisplayValue}}</span>
                                            <mat-icon style="color:red" (click)="clearColumnUpdate(i,c)">close
                                            </mat-icon>
                                            <mat-icon style="color:green" (click)="updateCol(i,c)">done</mat-icon>
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                    </div>
                    <pagination-controls (pageChange)="updateRowsPage = $event" previousLabel="קודם" nextLabel="הבא"
                        id="updateRows"></pagination-controls>
                </mat-tab>
                <mat-tab label="{{'משפחות קיימות'|translate}} - {{identicalRows.length}}" *ngIf="identicalRows&&identicalRows.length">
                    <div class="table-div">
                        <table class="table table-bordered" style="white-space: nowrap;">
                            <tr>

                                <th></th>
                                <th *ngFor="let c of columnsInCompare">
                                    {{c.defs.caption}}
                                </th>
                            </tr>
                            <ng-container *ngFor="let i of identicalRows| paginate: { itemsPerPage: 100,currentPage:existingFamiliesPage,id:'existingFamiliesPage'}">
                                <tr>

                                    <td>{{i.rowInExcel}}<br></td>
                                    <td *ngFor="let c of columnsInCompare">

                                        {{getColInfo(i,c).newDisplayValue}}

                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                    </div>
                    <pagination-controls (pageChange)="existingFamiliesPage = $event" previousLabel="קודם" nextLabel="הבא"
                    id="existingFamiliesPage"></pagination-controls>
                </mat-tab>
                <mat-tab label="שגיאות -  {{errorRows.length}}" *ngIf="errorRows&&errorRows.length">
                    <div class="table-div">
                        <table class="table table-bordered" style="white-space: nowrap;">
                            <tr>

                                <th></th>
                                <th *ngFor="let c of columnsInCompare">
                                    {{c.defs.caption}}
                                </th>
                            </tr>
                            <ng-container
                                *ngFor="let i of errorRows | paginate: { itemsPerPage: 100,currentPage:errorRowsPage,id:'errorRows'}">
                                <tr>

                                    <td>{{i.rowInExcel}}<br></td>
                                    <td *ngFor="let c of columnsInCompare">

                                        {{getColInfo(i,c).newDisplayValue}}

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="10" style="color:red">
                                        {{i.error}}

                                        <ul *ngIf="i.duplicateFamilyInfo&&i.duplicateFamilyInfo.length>=1">
                                            <li *ngFor="let f of i.duplicateFamilyInfo">
                                                {{f.name}} - {{displayDupInfo(f)}} - <a (click)="updateFamily(f)">{{'הצג פרטי משפחה'|translate}}</a>
                                            </li>
                                        </ul>
                                        <a (click)="moveFromErrorToAdd(i)">העבר למשפחות להוספה</a>
                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                    </div>
                    <pagination-controls (pageChange)="errorRowsPage = $event" previousLabel="קודם" nextLabel="הבא"
                        id="errorRows">
                    </pagination-controls>
                </mat-tab>


            </mat-tab-group>
        </mat-step>
    </mat-horizontal-stepper>




</mat-card>