<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>
      <h1>פסח 2018</h1>
    </mat-card-title>
    <mat-card-subtitle>לקראת החג אנחנו שוב אוספים מצרכים בכדי להכין משלוחי אוכל לנזקקים.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>




    <table class="table">
      <thead>
        <tr>
          <th>
            מה צריך
          </th>
          <th>
            חסר
          </th>
          <th>
            אני מביאה
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items.items">
          <td>
            {{item.item.value}}
          </td>
          <td>
            {{item.quantity.value}}
          </td>
          <td class="quantityField">
            <input type="number" class="form-control" [(ngModel)]="helperQuantity(item).quantity.value" >
          </td>

        </tr>
      </tbody>
    </table>




  </mat-card-content>

  <button mat-mini-fab color="warn" (click)="saveAll()">
    <mat-icon>save</mat-icon>
  </button>
</mat-card>