<data-area [settings]="area"></data-area><button mat-raised-button color="primary" (click)="sortByDistance()">הצג לפי
    מרחק ממני</button>
<mat-divider></mat-divider>
<div *ngFor="let d of dates">
    <h3>{{d.date}}</h3>
    <div class="events-container">
        <ng-container *ngFor="let e of d.events">
            <mat-card class="event-card" [class.registered]="e.registeredToEvent" *ngIf="filter(e)">
                <div *ngIf="isAdmin()" style="    display: flex;
                justify-content: space-between;
                margin-bottom: 10px;">
                    <button mat-raised-button (click)="showVolunteers(e)">
                        מתנדבים ({{e.registeredVolunteers}})
                    </button>
                    <button mat-icon-button  (click)="edit(e)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    
                </div>
                <div style="text-align: center;" (click)="eventDetails(e)">
                    <img class="event-image" [src]="e.eventLogo">
                </div>
                <strong (click)="eventDetails(e)">
                    <mat-icon *ngIf="e.registeredToEvent" style="color:green">done</mat-icon> {{e.name}}
                </strong>

                <span (click)="eventDetails(e)"> {{distance(e)}} {{e.city}}, {{e.type.caption}} </span>
                <div (click)="eventDetails(e)">
                    <span>{{displayDate(e)}}<span *ngIf="e.startTime">,
                            {{e.startTime}}</span><span *ngIf="e.endTime"> -
                            {{e.endTime}}</span>
                    </span>
                </div>
                <span>{{volunteerText(e)}}</span>
            </mat-card>
        </ng-container>
    </div>
</div>