<div class="full-page">
  <mat-radio-group
    class="example-radio-group"
    [(ngModel)]="currentOption"
    class="radio-button"
    (change)="this.helpers.reloadData()"
  >
    <mat-radio-button
      class="example-radio-button"
      *ngFor="let f of radioOption"
      [value]="f"
      class="me"
    >
      {{ f.text + '   ' }}
    </mat-radio-button>
  </mat-radio-group>
  <h4>{{ helpers.totalRows }} מתנדבים</h4>
  <div style="display: flex; justify-content: space-between">
    <div>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="searchString"
          (input)="doSearch()"
          placeholder="{{ settings.lang.searchVolunteer }}"
          [ngModelOptions]="{ standalone: true }"
        />
        <mat-icon matSuffix (click)="clearSearch()">clear</mat-icon>
      </mat-form-field>
      <br />
    </div>
  </div>
  <data-grid [settings]="helpers" class="grow-item"></data-grid>
</div>
