
//to override stupid tab bug
.tab{
    border-width:0px 0px 2px 0px;
    border-style: solid;
    border-color: transparent;
    color:rgba(0, 0, 0, 0.466);    
 
}

.activeTab{
    border-width:0px 0px 2px 0px;
    border-style: solid;
    color:rgba(0, 0, 0, 0.85);    
    border-color: #e91e63;
}
.hiddenTab{
    display: none;
}
//endd to override stupid tab bug


.full-width{
    width:100%;
}