<div class="myDiv">
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let p of items.items" #myPanel>
        <mat-expansion-panel-header>
          <div class="myHeader">
            <div>
              <mat-panel-title>
                {{p.item.value}}
              </mat-panel-title>
            </div>
            <div>
              <mat-panel-description>
                  {{p.quantity.value}} / {{p.totalSoFar()}}
              </mat-panel-description>
            </div>
          </div>

        </mat-expansion-panel-header>
        <ng-container *ngFor="let t of tabs let i=index">
          <button mat-button class="tab" [class.activeTab]="i==selectedTab" (click)="selectedTab=i">{{t}}</button>
        </ng-container>
        <div [class.hiddenTab]="0!=selectedTab">
          <mat-form-field class="full-width">
            <input matInput placeholder="מה צריך" [(ngModel)]="p.item.value">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="כמה צריך" type="phone" [(ngModel)]="p.quantity.value">
          </mat-form-field>
          <button mat-mini-fab color="warn" (click)="delete(p)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
        <div [class.hiddenTab]="1!=selectedTab">
          <app-project-item-helpers [itemId]="p.id.value"></app-project-item-helpers>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>
  <div class="button-area">
    <button mat-mini-fab color="primary" (click)="items.addNewRow()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>