<ng-container *ngIf="report">
    <table class="table-bordered" *ngFor="let v of data" style="width:100%;page-break-before: always;">
        <thead>
            <tr>
                <td [colSpan]="report.columns.length" cdkDropList
                    (cdkDropListDropped)="dropControl($event,report.controls)">
                    <ng-container *ngFor="let f of report.controls">

                        <div *ngIf="v.firstRow[f.fieldKey]" cdkDrag
                            [ngStyle]="defs.getStyle(defs.fieldProps.props,f.propertyValues)"
                            (click)="editControl(f,report.controls)">
                            {{f.propertyValues&& f.propertyValues[defs.textBeforeKey]}} {{v.firstRow[f.fieldKey]}}
                        </div>
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td [colSpan]="report.columns.length" *ngIf="settings.requireConfidentialityApprove">
                    {{settings.lang.infoIsConfidential}}
                </td>
            </tr>
            <tr>
                <td *ngFor="let c of report.columns">
                    {{c.propertyValues[columnCaptionKey]}}
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of v.deliveries">
                <td *ngFor="let c of report.columns" cdkDropList (cdkDropListDropped)="dropControl($event,c.controls)">
                    <ng-container *ngFor="let f of c.controls">

                        <div *ngIf="r[f.fieldKey]" [ngStyle]="defs.getStyle(defs.fieldProps.props,f.propertyValues)"
                            cdkDrag (click)="editControl(f,c.controls)">
                            {{f.propertyValues&& f.propertyValues[defs.textBeforeKey]}} {{r[f.fieldKey]}}
                        </div>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>

<app-properties-editor *ngIf="report" (change)="save()" [props]="currentProps">

    <button (click)="addControl()">הוסף שדה</button>
    <button (click)="addColumn()">הוסף עמודה</button>
    <ng-container *ngIf="currentProps.control">
        <button (click)="removeControl(currentProps.control)">הסר שדה</button>
    </ng-container>
    <ng-container *ngIf="currentProps.control">
        <button (click)="removeColumn()">הסר עמודה</button>
    </ng-container>
    <br>
    <!-- <button (click)="selectControl()">תכונות שדה</button> -->

    <button (click)="currentProps = pageProps;currentControlList = report.controls">תכונות דף</button>
</app-properties-editor>