.button-div{
    display:flex;
    
    >button{
        white-space: pre-line;
        margin: 5px;
        line-height:inherit;
        padding-top:10px;
        padding-bottom:10px;
        flex: 1 0 0px;
        
    }
}