<div class="full-page mat-tipogrophy">
    
    <div class="grow-item" *ngIf="display==deliveryList">
        <span *ngIf="deliveredSinceEver==0" class="mat-card-title" style="text-align: center;">
            {{comp.remult.user.name}} כיף שבאת, תודה שבחרת להתחשב - יאללה מתחילים!
        </span>
        <span *ngIf="deliveredSinceEver>0" class="mat-card-title" style="text-align: center;">
            {{comp.remult.user.name}} תודה על {{deliveredSinceEver}} תרומות שאספת! - יאללה ממשיכים!
        </span>
        <span *ngIf="showFrozen()">
            לבקשתך, לא נחבר לך תרומות לאיסוף עד {{userFrozenTill}}
        </span>
        <div class="button-div">
            <button mat-raised-button color="primary" *ngIf="canSelectDonors()" (click)="assignNewDelivery()">מצאו לי
                עוד תורמים בסביבתי
            </button>
            <button *ngIf="!showFrozen()" mat-raised-button color="accent" (click)="freezeUser()">
                וואלה עמוס לי,
                תנו לי הפסקה של שבועיים
            </button>
            <button *ngIf="showFrozen()" mat-raised-button color="primary" (click)="unFreezeUser()">
                התפניתי, אפשר להמשיך לחבר לי תורמים
            </button>
        </div>
        <span class="mat-card-title"> {{getFamilies('toDeliver').length}} תורמים מחכים לך</span>


        <mat-nav-list role="list">
            <mat-list-item *ngFor="let f of getFamilies('toDeliver');let i=index" (click)="selectFamily(f, deliveryInfo)" style="height:max-content">

                <div>
                    <mat-panel-title style="justify-content: space-between">
                        <div class="familyLine">
                            <span *ngIf="i+1">{{i+1}}.&nbsp;</span>{{f.name}}
                            <mat-icon color="accent" *ngIf="f.deliveryComments"> comment</mat-icon>
                            <mat-icon color="accent" *ngIf="!f.addressOk">warning</mat-icon>
                            <mat-icon color="green" *ngIf="f.courierBeenHereBefore">repeat</mat-icon>
                            <mat-icon *ngIf="f.courierComments"> comment</mat-icon>
                        </div>

                    </mat-panel-title>

                    <mat-panel-description style="justify-content: space-between">

                        <div style="white-space: nowrap;">
                            {{f.getAddressDescription() }}
                        </div>


                    </mat-panel-description>
                </div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>
        <div *ngIf="familyLists.distCenter">
            <mat-accordion>
                <mat-expansion-panel style="background-color:lightgreen">
                    <mat-expansion-panel-header style="background-color:lightgreen">
                        <div>
                            <mat-panel-title> <strong>{{settings.lang.thisIsTheDestination}}</strong> :
                                {{familyLists.distCenter.name}}</mat-panel-title>
                            <mat-panel-description>{{familyLists.distCenter.address}}</mat-panel-description>
                        </div>
                    </mat-expansion-panel-header>
                    <div *ngIf="familyLists.distCenter.comments">
                        <mat-icon color="accent" style="vertical-align: middle">comment</mat-icon>
                        <strong style="color:red">{{settings.lang.notice}} </strong>
                        {{familyLists.distCenter.comments}}
                    </div>
                    <h4>{{settings.lang.address}}</h4>
                    <div style="display:flex">
                        <span (click)="familyLists.distCenter.openWaze()">
                            <img src="assets/waze.png">

                        </span>
                        <div style="flex-grow:1;padding:0 5px;">
                            <a (click)="familyLists.distCenter.openWaze()">
                                <span style="display:block"> {{familyLists.distCenter.address}} </span>
                            </a>
                        </div>
                    </div>

                    <h4 *ngIf="familyLists.distCenter.phone1 || familyLists.distCenter.phone2">
                        {{settings.lang.phones}}:
                    </h4>
                    <div *ngIf="familyLists.distCenter.phone1" class="phone-container">
                        <a href="tel:{{familyLists.distCenter.phone1}}">
                            <button mat-mini-fab style="vertical-align: middle" color="primary">
                                <mat-icon>call</mat-icon>
                            </button>
                        </a>
                        <div>
                            <a
                                href="tel:{{familyLists.distCenter.phone1}}">{{familyLists.distCenter.phone1.displayValue}}</a>,
                            {{familyLists.distCenter.phone1Description?familyLists.distCenter.phone1Description:familyLists.distCenter.name}}
                        </div>
                    </div>

                    <div *ngIf="familyLists.distCenter.phone2" class="phone-container">
                        <a href="tel:{{familyLists.distCenter.phone2}}">
                            <button mat-mini-fab style="vertical-align: middle" color="primary">
                                <mat-icon>call</mat-icon>
                            </button>
                        </a>
                        <div>
                            <a
                                href="tel:{{familyLists.distCenter.phone2}}">{{familyLists.distCenter.phone2.displayValue}}</a>,
                            {{familyLists.distCenter.phone2Description?familyLists.distCenter.phone2Description:familyLists.distCenter.name}}
                        </div>
                    </div>

                    <button mat-raised-button color="primary" (click)="selectDistCenter()">
                        החלף יעד למסירת הציוד
                    </button>
    
                </mat-expansion-panel>
            </mat-accordion>
            <mat-divider></mat-divider>
            <span class="mat-card-title" *ngIf="getFamilies('delivered').length>0"> {{getFamilies('delivered').length}} תרומות למסירה בנקודת איסוף</span>
            <mat-nav-list role="list">
                <mat-list-item *ngFor="let f of getFamilies('delivered');let i=index" (click)="selectFamily(f, markReception)" style="height:max-content">
    
                    <div>
                        <mat-panel-title style="justify-content: space-between">
                            <div class="familyLine">
                                {{getBasketsDescription(f, 'delivered')}}
                                <mat-icon *ngIf="f.courierComments"> comment</mat-icon>
                            </div>
    
                        </mat-panel-title>
    
                        <mat-panel-description style="justify-content: space-evenly; align-items: stretch;">
                            <div style="white-space: nowrap;">
                                {{f.name}}
                            </div>
    
                            <div style="white-space: nowrap;">
                                ({{f.getAddressDescription() }})
                            </div>
                        </mat-panel-description>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-nav-list>
            </div>

    </div>

    <div class="grow-item" *ngIf="display==reception">
        <span class="mat-card-title">ציינת בעייה עבור {{getFamilies('problem').length}} תורמים</span>

        <mat-nav-list role="list">
            <mat-list-item *ngFor="let f of getFamilies('problem');let i=index" style="height:max-content" (click)="familyNotProblem(f)">
                <div>
                    <mat-panel-title style="justify-content: space-between">
                        <div class="familyLine">
                            {{getBasketsDescription(f, 'problem')}} מהתורם {{f.name}}
                            ({{f.getAddressDescription() }})
                            <mat-icon *ngIf="f.courierComments"> comment</mat-icon>
                        </div>

                    </mat-panel-title>

                    <mat-panel-description style="justify-content: space-evenly; align-items: stretch;">
                        <div style="white-space: nowrap;">
                            {{f.$.deliverStatus.displayValue}}
                        </div>

                        <div *ngIf="f.courierComments" style="white-space: nowrap;">
                            ({{f.$.courierComments.displayValue}})
                        </div>
                    </mat-panel-description>
                </div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </div>

    <div class="grow-item" *ngIf="display==markReception">
        <span class="mat-card-title">
                יש לעדכן לאחר מסירה בנקודת איסוף<br>
                התרומה: {{getBasketsDescription(selectedFamily, 'delivered')}}<br>
                מהתרום: {{selectedFamily.name}}
        </span>
        <button mat-raised-button class="myButton" color="accent" (click)="undoDeliveredToFamily()">
            רגע - בכלל לא אספתי את זה
        </button>
        <span>מסרתי בנקודת האיסוף:</span>
        <div>
            <button *ngFor="let b of distCentersButtons" mat-raised-button class="myButton" color="primary" (click)="setDistCenterForFamily(b.item)">
            {{b.caption}}
            </button>
        </div>
    </div>

    <div class="grow-item" *ngIf="display==deliveryInfo">
        <span class="mat-card-title"> {{selectedFamily.name}} מחכה ליצירת קשר ממך לתיאום איסוף התרומה</span>
        <app-family-info [f]="selectedFamily" [hideSal]="true"></app-family-info>
        <ul>
            <li *ngFor="let i of deliveriesForFamily">
                {{i.quantity}} X {{i.$.basketType.displayValue}}
            </li>
        </ul>
        <button mat-raised-button class="myButton" color="accent" (click)="deliveredToFamily()">
            אספתי בהצלחה
        </button>
        <button mat-raised-button class="myButton" color="accent" (click)="display=problemInfo">
            <span class="material-icons">report_problem</span>
            יש לי בעיה
        </button>
        <button mat-raised-button class="myButton" (click)="updateComment(selectedFamily)">
            עדכן הערה לעצמי בלבד
        </button>
    </div>
    <div class="grow-item" *ngIf="display==problemInfo">
        <span class="mat-card-title"> מה היתה הבעייה באיסוף מ{{selectedFamily.name}}</span>
        <app-family-info [f]="selectedFamily" [hideSal]="true"></app-family-info>


        <div *ngIf="display==problemInfo">
            <button mat-raised-button class="myButton" color="accent"
                (click)="deliveredToFamily('אספתי ציוד שונה ממה שכתוב')">
                אספתי ציוד שונה ממה שכתוב
            </button>
            <button mat-raised-button class="myButton" color="accent"
                (click)="couldntDeliverToFamily(selectedFamily,'FailedNotReady')">
                התרומה עוד לא מוכנה לאיסוף
            </button>
            <button mat-raised-button class="myButton" color="accent"
                (click)="couldntDeliverToFamily(selectedFamily,'FailedBadAddress')">
                פרטי התורם שגויים
            </button>
            <button mat-raised-button class="myButton" color="accent"
                (click)="couldntDeliverToFamily(selectedFamily,'FailedNotHome')">
                לא ענו לי (לאחר מספר נסיונות)
            </button>
            <button mat-raised-button class="myButton" color="accent"
                (click)="couldntDeliverToFamily(selectedFamily,'FailedDoNotWant')">
                התרומה כבר נמסרה
            </button>
            <button mat-raised-button class="myButton" color="accent"
                (click)="couldntDeliverToFamily(selectedFamily,'FailedTooFar')">
                רחוק לי
            </button>
        </div>
    </div>
    <div class="grow-item" *ngIf="display==myProfile">
        <app-update-info></app-update-info>
    </div>
    <div >
        <div class="button-div" *ngIf="display==deliveryList">
            <button *ngIf="openMessage1Link(false)" mat-raised-button color="accent" (click)="openMessage1Link(true)">
                {{showMessage1Text()}}
            </button>
        </div>
        <div class="button-div">
            <button mat-raised-button color="primary" (click)="startPage()">חזרה לרשימה</button>
            <button mat-raised-button color="primary" (click)="display=myProfile">הפרופיל שלי</button>
            <button mat-raised-button color="primary" (click)="showMyGifts()"><img height="40px"
                    src="/assets/gift.png" /></button>
            <button mat-raised-button color="primary" (click)="display=reception">
                אופס! טעיתי...
            </button>
        </div>


    </div>
</div>