<div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let h of helpers.items">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{getName(h)}}
        </mat-panel-title>

      </mat-expansion-panel-header>
      <app-event-participant [eventHelperId]="h.id.value" [eventId]="eventId"></app-event-participant>
      <button mat-mini-fab color="warn" (click)="deleteHelper(h)">
        <mat-icon>remove</mat-icon>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="button-area">
    <button mat-mini-fab color="primary" (click)="addOne()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>