<mat-card>
    <mat-form-field class="full-width">
        <input matInput [(ngModel)]="searchString" (input)="doSearch()"  placeholder="חיפוש מתנדב" [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix (click)="searchString=''">clear</mat-icon>
      </mat-form-field>  
  <data-grid2 [settings]="helpers" height="300"></data-grid2>
  
  <button mat-raised-button color="warn" (click)="resetPassword()" *ngIf="helpers.currentRow">
    אתחלי סיסמה ל{{helpers.currentRow.name.value}}
  </button>
  
</mat-card>