<mat-card>
    <mat-form-field class="full-width">
        <input matInput [(ngModel)]="searchString" (input)="doSearch()"  placeholder="חיפוש מתנדב" [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix (click)="searchString=''">clear</mat-icon>
      </mat-form-field>  
  <data-grid2 [settings]="helpers" height="300"></data-grid2>
  <div class="col-md-12" *ngIf="helpers.currentRow">
    <div *ngIf="context.info.superAdmin">
      <mat-checkbox [(ngModel)]="helpers.currentRow.superAdmin.value">{{helpers.currentRow.superAdmin.caption}}</mat-checkbox>
    </div>
    <div *ngIf="context.info.deliveryAdmin">
      <div>
        <mat-checkbox [(ngModel)]="helpers.currentRow.deliveryAdmin.value">{{helpers.currentRow.deliveryAdmin.caption}}</mat-checkbox>
      </div>
    </div>
    <div *ngIf="context.info.weeklyFamilyAdmin||context.info.superAdmin">
      <div>
        <mat-checkbox [(ngModel)]="helpers.currentRow.weeklyFamilyAdmin.value">{{helpers.currentRow.weeklyFamilyAdmin.caption}}</mat-checkbox>
      </div>
      <div>
        <mat-checkbox [(ngModel)]="helpers.currentRow.weeklyFamilyVolunteer.value">{{helpers.currentRow.weeklyFamilyVolunteer.caption}}</mat-checkbox>
      </div>
      <div>
        <mat-checkbox [(ngModel)]="helpers.currentRow.weeklyFamilyPacker.value">{{helpers.currentRow.weeklyFamilyPacker.caption}}</mat-checkbox>
      </div>
    </div>
  </div>
  <button mat-raised-button color="warn" (click)="resetPassword()" *ngIf="helpers.currentRow">
    אתחלי סיסמה ל{{helpers.currentRow.name.value}}
  </button>
  
</mat-card>