.itemLine{
    display:flex;
    flex-basis: 50px auto;
}
.quantityField{
    max-width:50px;
    width:50px;
    margin:0px 0px 0px 15px;
}
h1 input{
    width:100%;
    border-style: none;
}
textarea{
    width:100%;
}