<button mat-raised-button color="primary" (click)="projects.addNewRow()">
  פרוייקט חדש
</button>
<mat-accordion>
  <mat-expansion-panel *ngFor="let p of projects.items" #myPanel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>
          {{p.name.value}}
        </h1>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <mat-tab-group>
      <mat-tab label="תאור כללי">
        <h1>
          <input matInput placeholder="שם הפרוייקט" [(ngModel)]="p.name.value">
        </h1>
        <textarea class="form-control" rows=5 placeholder="תאור כללי" [(ngModel)]="p.description.value"></textarea>
      </mat-tab>
      <mat-tab label="מה צריך">
        <app-project-items #projectItems [projectId]="p.id.value"></app-project-items>
      </mat-tab>
    </mat-tab-group>
    <button mat-mini-fab color="warn" (click)="saveAll(projectItems)">
      <mat-icon>save</mat-icon>
    </button>
  </mat-expansion-panel>
</mat-accordion>