<button mat-raised-button color="primary" (click)="projects.addNewRow()">
  פרוייקט חדש
</button>
<mat-accordion>
  <mat-expansion-panel *ngFor="let p of projects.items" #myPanel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>
          {{p.name.value}}
        </h1>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <ng-container *ngFor="let t of tabs let i=index">
      <button mat-button class="tab" [class.activeTab]="i==selectedTab" (click)="selectedTab=i">{{t}}</button>
    </ng-container>
    <div [class.hiddenTab]="0!=selectedTab">
      <h1>
        <input matInput placeholder="שם הפרוייקט" [(ngModel)]="p.name.value">
      </h1>
      <textarea class="form-control" rows=5 placeholder="תאור כללי" [(ngModel)]="p.description.value"></textarea>
    </div>
    <app-project-items [class.hiddenTab]="1!=selectedTab" #projectItems [projectId]="p.id.value"></app-project-items>
    <app-project-helpers [class.hiddenTab]="2!=selectedTab" #projectHelpers [projectId]="p.id.value"></app-project-helpers>
    
    <div class="button-area">
      <button mat-mini-fab color="primary" (click)="saveAll(projectItems,projectHelpers)">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="delete(p)" >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>