agm-map {
  height: 300px;
}

.registered {
  background-color:lightgreen !important
}

.phone-container {
  display: flex;
  padding-bottom: 10px;
  > div {
    padding: 0 5px;
    align-self: center;
  }
}

.page{
  height: 118%;
    border-radius: 24px;
}

.main-title{
  border: 1px solid black;
  padding: 6px;
  background-color: #1414a9;
  color: white;
  font-family: auto;
  border-radius: 7px;
  text-align: center;
}

.controls-self{
  display: flex;
  justify-content: center;
}
.controls-self button{
  height: 85px;
  width: 85px;
  border-radius: 85px;
  box-shadow: 3px 3px rgba(120, 115, 90, 0.5), 2px 2px rgba(120, 115, 90, 0.5), 1px 1px rgba(120, 115, 90, 0.5);
  border: 2px solid rgb(221, 209, 187);
  margin: 6px;
  color: white;
  background-color: #1414a9;
}