/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.theme-default-content img 
  border solid 2px 
  border-radius 8px
  border-color lightgray