
    <form >
      <h3 matDialogHeader>{{args.title}}</h3>
      <data-grid [settings]="args.settings"  height="300"> </data-grid>
      
      <mat-dialog-actions>
          
        <button mat-raised-button *ngFor="let b of args.buttons" (click)="buttonClick(b,$event)">
            {{b.text}}
        </button>
        <button type="button" mat-raised-button color="warning" (click)="this.dialogRef.close()" *ngIf="this.args.cancel">
          {{settings.lang.cancel}}
        </button>
  
        <button type="submit" mat-raised-button color="accent" (click)="confirm()">
          {{settings.lang.confirm}}
        </button>
  
      </mat-dialog-actions>
    </form>
  
