<mat-accordion>
    <mat-expansion-panel *ngFor="let p of products" (opened)="showProduct(p)">
      <mat-expansion-panel-header>
        {{p.name.value}} - {{p.quantityToPack.value}}
      </mat-expansion-panel-header>
 
      <mat-list>
            <mat-list-item *ngFor="let dp of deliveryProducts">
              <app-product-quantity-in-delivery [d]="dp"></app-product-quantity-in-delivery>
              {{getFamilyCode(dp)}}
            </mat-list-item>
        </mat-list>


    </mat-expansion-panel>
  
  
  </mat-accordion>