<div class="myDiv">

  <h3 mat-dialog-header>{{'הוספת משפחה חדשה'|translate}}</h3>

  <div mat-dialog-content>
    <div class="dialog-content-fixer around-area">
      <data-control2 [column]="f.name"></data-control2>
      
      <data-area2 [settings]="basketStatusLine" class="one-line"></data-area2>
      
      <div class="one-line">
        <data-control2 [column]="f.tz"></data-control2>
        <data-control2 [column]="f.tz2"></data-control2>
      </div>
      <data-control2 [column]="f.address"></data-control2>
      <data-area2 [settings]="addressInfo" class="one-line"></data-area2>
      <div class="one-line">
          <data-control2 [column]="f.phone1"></data-control2>
          <data-control2 [column]="f.phone2"></data-control2>
        </div>
      <data-area2 [settings]="afterAddressInfo"></data-area2>
    </div>
  </div>
  <mat-dialog-actions>
    <button mat-raised-button color="warning" (click)="cancel()">
      בטל
    </button>
    <button mat-raised-button color="accent" (click)="confirm()">
      הוסף
    </button>
    <button mat-raised-button color="primary" (click)="showExistingFamily()" *ngIf="getExistingFamily()">
      {{'הצג פרטי משפחה קיימת'|translate}} {{getExistingFamily().name}}
    </button>

  </mat-dialog-actions>
</div>