<div class="myDiv">

  <h3 mat-dialog-header>{{'הוספת משפחה חדשה'|translate}}</h3>

  <div mat-dialog-content>
    <div class="dialog-content-fixer around-area">
      
      <data-area2 [settings]="basketStatusLine" ></data-area2>
      
    </div>
  </div>
  <mat-dialog-actions>
    <button mat-raised-button color="warning" (click)="cancel()">
      בטל
    </button>
    <button mat-raised-button color="accent" (click)="confirm()">
      הוסף
    </button>
    <button mat-raised-button color="accent" (click)="showExistingFamily()" *ngIf="getExistingFamily()">
      {{'הצג פרטי משפחה קיימת'|translate}} {{getExistingFamily().name}}
    </button>

  </mat-dialog-actions>
</div>