<h3 matDialogHeader>{{args.site.name}} ({{args.site.site}})</h3>
<mat-dialog-content>
    {{args.site.lastSignIn|date}}
    <ul>
        <li *ngFor="let i of args.statistics">
            {{i.caption}} - {{args.site.stats[i.caption]}}
        </li>
    </ul>
    מנהלים:
    <table>
        <tr *ngFor="let m of managers">
            <td><a href="" (click)="sendWhatsapp(m)"> {{m.name}}</a></td>
            <td> {{m.lastSignInDate|date}} </td>
            <td> {{m.phone}}</td>
        </tr>
    </table>


</mat-dialog-content>

<mat-dialog-actions>


    <button type="button" mat-raised-button color="warning" (click)="this.dialogRef.close()">
        סגור
    </button>

    <button mat-raised-button color="accent" (click)="openSite()">
        עבור לאתר
    </button>

</mat-dialog-actions>