agm-map {
  height: 300px;
}

.registered {
  background-color: lightgreen !important;
}

.phone-container {
  display: flex;
  padding-bottom: 10px;
  > div {
    padding: 0 5px;
    align-self: center;
  }
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
  display: flex;
}

.mat-mdc-tab-group {
  height: 100%;
}

.deliveries {
  height: calc(100% - 20px);
}

.delivery {
  margin: 10px;

  & div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.delivery-desc {
  display: flex;
  flex-direction: column;
  color: #555;
  align-self: start;

  span {
    display: flex;
    padding-right: 10px;
    align-items: center;

    mat-icon{
      margin: 4px !important;
    }
  }
}
