<ng-container *ngIf="overview">
  <mat-spinner
    diameter="30"
    *ngIf="spinner"
    [value]="progress"
    [mode]="'determinate'"
  ></mat-spinner>
  <ul>
    <li
      *ngFor="let i of overview.statistics"
      (click)="doSort(i)"
      [class.sorted]="sortBy == i.caption"
    >
      {{ i.caption }} - {{ i.value }}
    </li>
  </ul>
  <div style="display: flex; justify-content: space-between">
    <div>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="searchString"
          placeholder="{{ 'חיפוש סביבה' }}"
          [ngModelOptions]="{ standalone: true }"
        />
        <mat-icon matSuffix (click)="searchString = ''">clear</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="createNewSchema()">
        {{ 'הוסף סביבה חדשה' }}
      </button>
    </div>
  </div>

  <div class="site-container" [transition-group]="'flip-list'">
    <ng-container *ngFor="let site of overview.sites; trackBy: trackBy">
      <mat-card *ngIf="showSite(site)" class="site" transition-group-item>
        <span *ngIf="sortBy">{{ site.stats[sortBy] }}</span>
        <a (click)="showSiteInfo(site)"><img src="{{ site.logo }}" /></a>
        {{ site.name }}
      </mat-card>
    </ng-container>
  </div>
</ng-container>
