<h1 mat-dialog-title *ngIf="theGifts.length>0">המשאלות שלי</h1>
<h1 mat-dialog-title *ngIf="theGifts.length==0">צוברים מתנות באיסוף משלוחים</h1>
<div mat-dialog-content>
    <table>
        <tr *ngFor="let g of theGifts">
            <div *ngIf="!g.wasConsumed">
                <td>
                    <a href="{{g.giftUrl}}" target="_blank">
                        <img src="assets/gift.png" height="45px"> 
                    </a>
                </td>
                <td>
                    <button (click)="giftUsed(g.giftID)">
                        השתמשתי, תודה
                    </button>
            </div>
        </tr>
        <tr *ngIf="giftsUsed>0">
            ניצלת כבר {{giftsUsed}} מתנות. מקווים שאהבת! 
        </tr>
    </table>
</div>
<mat-dialog-actions>
</mat-dialog-actions>