<mat-card>
  <div style="margin-bottom:15px">
    <button mat-raised-button (click)="previous()">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button mat-raised-button (click)="today()">
      <mat-icon>today</mat-icon>
    </button>
    <button mat-raised-button (click)="next()">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div style="display:flex;align-content: flex-end;">

    <data-area [settings]="rangeArea"></data-area>
    <button mat-mini-fab style="margin:15px" (click)="refresh()" color="primary">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <br>
  <h4> סה"כ משלוחים {{deliveries.totalRows}}</h4>
  <data-grid [settings]="deliveries" [height]="400"></data-grid>
  <button (click)="saveToExcel()">יצוא לאקסל</button>
  <h4> סה"כ מתנדבים {{helperInfo.totalRows}}</h4>
  <data-grid [settings]="helperInfo" [height]="400"></data-grid>
  <button (click)="saveToExcelHelpers()">יצוא לאקסל</button>
</mat-card>