<mat-accordion>
  <mat-expansion-panel *ngFor="let f of families" (opened)="selectFamiliy(f)">
    <mat-expansion-panel-header>
      משפחת {{f.name.value}}
    </mat-expansion-panel-header>
    <button (click)="preparePackage()">חבילה חדשה</button>
    <mat-accordion *ngIf="f==currentFamilly">
      <mat-expansion-panel *ngFor="let d of deliveries">
        <mat-expansion-panel-header>
          {{d.ordnial.value}} - {{d.status.displayValue}}, {{totalItems(d)}} פריטים
        </mat-expansion-panel-header>



        <div class="top-bar" #myDiv>
          <button mat-raised-button color="primary" *ngIf="d.status.listValue.next" [disabled]="nextDisabled(d)"
            (click)="d.changeStatus(d.status.listValue.next.status)">{{d.status.listValue.next.name}}</button>
          <button mat-raised-button *ngIf="d.status.listValue.prev" (click)="d.changeStatus(d.status.listValue.prev.status)">{{d.status.listValue.prev.name}}</button>
        </div>
        <div>
          {{d.status.listValue.helpText}}
        </div>


        <mat-list>
          <ng-container *ngFor="let p of products">
            <mat-list-item *ngIf="displayProduct(p,d)">
              <div class="quantity-input" style="align-items: center" *ngIf="displayRequestQuantity(d)">
                <button class="btn btn-sm btn-success glyphicon glyphicon-plus" type="button" (click)="add(p,d,1)"></button>
                <input type="tel" class="form-control numeric-value" [(ngModel)]="quantity(p,d).requestQuanity.value"
                  (change)="quantity(p,d).save()">
                <button class="btn btn-sm btn-danger glyphicon glyphicon-minus" [attr.disabled]="quantity(p,d).requestQuanity.value<=0?'':null"
                  type="button" (click)="add(p,d,-1)"></button>
              </div>
              <app-product-quantity-in-delivery [d]="quantity(p,d)" *ngIf="!displayRequestQuantity(d)"></app-product-quantity-in-delivery>


              {{p.name.value}}
            </mat-list-item>
          </ng-container>

        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>


</mat-accordion>