<mat-accordion>
  <mat-expansion-panel *ngFor="let f of families" (opened)="selectFamiliy(f)">
    <mat-expansion-panel-header>
      משפחת {{f.name.value}} ({{f.codeName.value}}) {{lastStatus(f)}}
    </mat-expansion-panel-header>
    <div *ngIf="f.packingComment.value">
      {{f.packingComment.value}}
    </div>
    <button mat-raised-button color="primary" *ngIf="showNew()" (click)="preparePackage()">משלוח חדש</button>
    <button mat-mini-fab color="primary" (click)="updateFamily(f)" ><mat-icon>create</mat-icon></button>
    <mat-accordion *ngIf="f==currentFamilly">
      <mat-expansion-panel *ngFor="let d of deliveries" (opened)="deliveryList. selectDelivery(d)">
        <mat-expansion-panel-header>
          {{statusText(d)}}
        </mat-expansion-panel-header>



        <div class="top-bar" #myDiv>
          <button mat-raised-button color="primary" *ngIf="d.status.listValue.next" [disabled]="nextDisabled(d)"
            (click)="d.changeStatus(d.status.listValue.next.status)">{{d.status.listValue.next.name}}</button>
          <button mat-raised-button *ngIf="d.status.listValue.prev"
            (click)="d.changeStatus(d.status.listValue.prev.status)">{{d.status.listValue.prev.name}}</button>
          <button mat-raised-button *ngIf="allowDelete(d)" (click)="deleteDelivery(d)">מחק משלוח</button>

        </div>

        <div>
          {{d.status.listValue.helpText }}
        </div>
        

        <div *ngIf="isDelivered(d)">
          נמסר בתאריך
          <div class="date-time-line">
            <div>

            </div>
            <div>
              <input type="date" class="form-control" [value]="d.deliveredOn.getStringForInputDate()"
                (change)="d.deliveredOn.dateInputChangeEvent($event)" (blur)="saveIfNeeded(d)">
            </div>
            <div>
              <input type="time" class="form-control" [value]="d.deliveredOn.getStringForInputTime()"
                (change)="d.deliveredOn.timeInputChangeEvent($event)" (blur)="saveIfNeeded(d)">
            </div>
          </div>
        </div>
        <app-weekly-family-delivery-product-list *ngIf="d==deliveryList.currentDelivery" [list]="deliveryList">

        </app-weekly-family-delivery-product-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>


</mat-accordion>