<mat-accordion>
  <div *ngIf="stats">
    עד כה נמסרו {{stats.products.value}} מוצרים ב {{stats.deliveries.value}} משלוחים ל {{stats.families.value}} משפחות
  </div>
  <div class="top-bar">
    <div>
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="searchString" placeholder="חפשי משפחה" [ngModelOptions]="{standalone: true}">
        <mat-icon matSuffix (click)="clearSearch()">clear</mat-icon>
      </mat-form-field>
      {{countFamilies()}} משפחות
      <br>
      <mat-checkbox [(ngModel)]="onlyMyFamilies" *ngIf="weeklyAdmin()">רק משפחות שלי
      </mat-checkbox>
    </div>
    <div> <button mat-mini-fab color="primary" *ngIf="weeklyAdmin()" (click)="newFamily()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <ng-container *ngFor="let f of families">
    <mat-expansion-panel *ngIf="showFamily(f)" (opened)="selectFamiliy(f)">
      <mat-expansion-panel-header>
        <div class="family-title">
          <div>
            {{f.name.value}} ({{f.codeName.value}})<div class="last-delivered"> {{lastStatus(f)}}</div>
          </div>
          <div *ngIf="weeklyAdmin()">
            {{f.assignedHelper.getValue()}}
          </div>

        </div>
      </mat-expansion-panel-header>

      <div class="family-buttons">
        <div>
          <button mat-raised-button color="primary" *ngIf="showNew()" (click)="preparePackage()">משלוח חדש</button>
        </div>
        <div>
          <button mat-mini-fab color="primary" (click)="deleteFamily(f)" *ngIf="weeklyAdmin()">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="updateFamily(f)" *ngIf="weeklyAdmin()">
            <mat-icon>create</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="f.packingComment.value">
        {{f.packingComment.value}}
      </div>
      <mat-accordion *ngIf="f==currentFamilly">
        <mat-expansion-panel *ngFor="let d of deliveries" (opened)="deliveryList. selectDelivery(d)">
          <mat-expansion-panel-header>
            {{statusText(d)}}
          </mat-expansion-panel-header>
          <app-weekly-family-delivery-product-list *ngIf="d==deliveryList.currentDelivery" [list]="deliveryList">

          </app-weekly-family-delivery-product-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-expansion-panel>

  </ng-container>
</mat-accordion>