.family-buttons{
    
    display:flex;
    justify-content: space-between;
}

.top-bar{
    display:flex;
    justify-content: space-between;
}
.family-title{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-left:10px;
}

.date-time-line{
    display:flex;

}
.last-delivered{
    font-size:12px;
}