<div class="container" *ngIf="report" [style]="defs.getStyle(pageProps.props,report.page)">
    <div *ngFor="let r of data" style="flex-shrink: 0;position: relative;"
        [ngStyle]="defs.getStyle(stickerProps.props,report.sticker)" class="item">
        <ng-container *ngFor="let f of report.controls">

            <div *ngIf="r[f.fieldKey]" [ngStyle]="defs.getStyle(defs.fieldProps.props,f.propertyValues)"
                (click)="editControl(f)">
                {{f.propertyValues&& f.propertyValues[defs.textBeforeKey]}} {{r[f.fieldKey]}}
            </div>
        </ng-container>
        <button mat-icon-button class="edit-button" (click)="defs.editSticker(r,data)">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
</div>

<app-properties-editor *ngIf="report" (change)="save()" [props]="currentProps">
    <button (click)=" addControl()">הוסף שדה</button>
    <ng-container *ngIf="currentProps.control">
        <button (click)="moveControl(-1)">הזז למעלה</button>
        <button (click)="moveControl(1)">הזז למטה</button>
        <button (click)="removeControl(currentProps.control)">הסר שדה</button>
    </ng-container>
    <br>
    <button (click)="selectControl()">תכונות שדה</button>
    <button (click)="currentProps = stickerProps">תכונות מדבקה</button>
    <button (click)="currentProps = pageProps">תכונות דף</button>
</app-properties-editor>