<div class="myButtonRow">
  <button mat-mini-fab color="primary" (click)="events.getRecords()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<mat-accordion>
  <mat-expansion-panel *ngFor="let p of events.items" #myPanel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h1>
          {{p.name.value}}
        </h1>
      </mat-panel-title>
      <mat-panel-description>
        {{p.description.value}}
      </mat-panel-description>

    </mat-expansion-panel-header>

    <app-event-participant #eventItems [eventId]="p.id.value" [eventHelperId]="getEventHelper(p).id.value"></app-event-participant>
    <div class="button-area">
      <button mat-mini-fab color="primary" (click)="saveAll(eventItems,p)">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>