<mat-card>
  <h3>גיבוי קובץ אקסל אוטומטי</h3>
  הפעלת תהליך זה תשמור קובץ אקסל עם כל נתוני המשפחות בכל עשר דקות - כל עוד המסך הזה פתוח והלשונית של הדפדפן פתוחה.


  <div *ngIf="command&&command.active">
    <H4>הגיבוי פעיל</H4>
    <H5 *ngIf="command.running">מבצע גיבוי עכשיו...</H5>

    <span *ngIf="!command.running"> גיבוי הבא יבוצע ב{{command.nextRun.toLocaleTimeString()}}</span>
    <pre *ngIf="command.lastError" dir=ltr>
ERROR:
{{command.lastError|json}}
    </pre>
    <button mat-raised-button (click)="stop()">הפסק</button>
  </div>
  <div *ngIf="!command||!command.active">
    <h4>הגיבוי אינו פעיל</h4>
    <button mat-raised-button (click)="activate()">הפעל גיבוי אוטומטי לקובץ אקסל</button>
  </div>
</mat-card>