<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10 no-print" [opened]="!dialog.isScreenSmall()" [mode]="dialog.isScreenSmall()?'over':'side'">
    <div style="width:100%;text-align: center">
      <img src="{{getLogo()}}"
      />
    </div>
    <p style="text-align: center" >{{orgName}}</p>
    <h4 *ngIf="context.user">שלום {{context.user.name}}</h4>
    <mat-nav-list role="list">
      <ng-container *ngFor="let m of router.config">
        <mat-list-item *ngIf="shouldDisplayRoute(m)" routerLinkActive="active-route">
          <a matLine [routerLink]="m.path" (click)="routeClicked()">{{routeName(m)}}</a>
        </mat-list-item>
        <mat-divider *ngIf="showSeperator(m)" ></mat-divider>


      </ng-container>
      <mat-list-item *ngIf="context.user">
        <a matLine (click)="signOut()">יציאה</a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-toolbar color="{{toolbarColor}}" class="no-print">
    <button mat-button class="sidenav-toggle" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{currentTitle()}}</span>

  </mat-toolbar>

  <div class="app-sidenav-content ">


    <div class="wrapper" [class.edge-fix]="isEdge">
      <router-outlet></router-outlet>
      <div class="footer"></div>
    </div>

  </div>

</mat-sidenav-container>