.active-route {
  background-color: #f2f2f2;
}
.mat-toolbar {
  font-size: 16px;
}
.app-sidenav-container {
  height: 100%;
  display:flex;
  flex-direction: column;
  
  
}
.app-sidenav-content{
  display:flex;
  height:100%;
  flex-direction: column;
}

.app-sidenav {
  width: 240px;
}


$iconWidth: 56px;

.sidenav-toggle {
  padding: 0;
  margin: 8px;
  min-width: $iconWidth;
  @media (max-width: 720px) {
    display: flex;
    align-item: center;
    justify-content: center;
  }
  mat-icon {
    font-size: 30px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
    color: white;
  }
}
h4 {
  margin-left: 10px;
  margin-right: 10px;
}
@media not print {
  .footer {
    height: 75px;
  }
}
.edge-fix ::ng-deep.dataGridHeaderArea {
  position: inherit !important;
}

.sidenav .mat-toolbar {
  background: inherit;
}


