<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall()" [mode]="isScreenSmall()?'over':'side'">
    <h4 *ngIf="auth.auth.info">שלום {{auth.auth.info.name}}</h4>
    <mat-nav-list role="list">
      <ng-container *ngFor="let m of router.config">
        <mat-list-item *ngIf="shouldDisplayRoute(m)" routerLinkActive="active-route">
          <a matLine [routerLink]="m.path" (click)="routeClicked()">{{routeName(m)}}</a>
        </mat-list-item>


      </ng-container>
      <mat-list-item *ngIf="auth.auth.info">
        <a matLine (click)="signOut()">יציאה</a>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-toolbar color="{{toolbarColor}}">
    <button mat-button class="sidenav-toggle" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{toolbarText}}</span>
  </mat-toolbar>

  <div class="app-sidenav-content ">


    <div class="wrapper">
      <router-outlet></router-outlet>
      <div class="footer"></div>
    </div>

  </div>

</mat-sidenav-container>