<button mat-mini-fab style="margin-bottom:5px" (click)="refresh()" color="primary">
  <mat-icon>refresh</mat-icon>

</button>
<div>
  <div style="display: block;width:350px;">
    <canvas *ngIf="hasChart" baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="options"
      [colors]="colors" (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
<h4 *ngIf="currentStatFilter">{{currentStatFilter.name}} - {{currentStatFilter.value}}</h4>
<a *ngIf="currentStatFilter" (click)="clearFilter()">הצג הכל</a>
<h4 *ngIf="!currentStatFilter">כולם - {{couriers.items.length}}</h4>
<div style="width:100%;display:flex;justify-content: space-between;">
  <mat-form-field class="full-width">
    <input matInput [(ngModel)]="searchString" placeholder="חיפוש משנע" [ngModelOptions]="{standalone: true}">
    <mat-icon matSuffix (click)="searchString=''">clear</mat-icon>
  </mat-form-field>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="sendSmsToAll()" >{{'שלח הודעת SMS למתנדבים שטרם קיבלו'|translate}}</button>
    
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu" >
    <mat-icon>more_vert</mat-icon>
  </button>
</div>
<mat-accordion>
  <ng-container *ngFor="let c of couriers.items">
    <mat-expansion-panel #myPanel *ngIf="showHelper(c)" (opened)="selectCourier(c)">
      <mat-expansion-panel-header>
        <div style="display:flex;flex-direction: column;">
          <div style="display:flex;">
            <mat-panel-title>
              {{c.name.value}}
            </mat-panel-title>
            <mat-panel-description>
              הושלמו {{c.allFamilies.value - c.deliveriesInProgress.value}}/{{c.allFamilies.value}} <span
                *ngIf="c.deliveriesWithProblems.value>0">&nbsp; ({{c.deliveriesWithProblems.value}} לא נמסרו)</span>
              <span *ngIf="c.gotSms.value">, יצא {{c.smsDate.relativeDateName()}}</span> <span *ngIf="!c.gotSms.value">,
                טרם
                נשלח SMS</span>
            </mat-panel-description>
          </div>
          <div *ngIf="c.eventComment.value">
            {{c.eventComment.value}}

          </div>
        </div>
      </mat-expansion-panel-header>

      <div *ngIf="currentlHelper==c">
        <span *ngIf="seeAllCenters()">רשימת חלוקה: {{ c.distributionCenter.displayValue}}</span>
        <app-helper-families [familyLists]="familyLists" [partOfAssign]="true" [partOfReview]="true"
          [helperGotSms]="c.gotSms.value"></app-helper-families>
      </div>
    </mat-expansion-panel>
  </ng-container>
</mat-accordion>