<h3>
  מתנדבים בדרך</h3>
<mat-button-toggle-group #group="matButtonToggleGroup" (valueChange)="changeToggle(group.value)" [value]="showAll">
  <mat-button-toggle value="false" selected>מתעכבים</mat-button-toggle>
  <mat-button-toggle value="true">כולם</mat-button-toggle>
</mat-button-toggle-group>
<mat-accordion>
  <mat-expansion-panel #myPanel *ngFor="let c of couriers.items" (opened)="selectCourier(c)">
    <mat-expansion-panel-header>
      <div>
        <mat-panel-title>
          {{c.name.value}}
        </mat-panel-title>
      </div>
      <div>
        <mat-panel-description>
          בדרך {{c.deliveriesInProgress.value}}, יצא {{c.firstDeliveryInProgressDate.relativeDateName()}}
        </mat-panel-description>
      </div>
    </mat-expansion-panel-header>
    
    <div class="wideAccordion">
        <a href="tel:{{c.phone.value}}"> <button mat-button>התקשרי ל{{c.name.value}} {{c.phone.value}} </button></a>
      <app-helper-families [familyLists]="familyLists" [partOfAssign]="true" [partOfReview]="true"></app-helper-families>
    </div>
  </mat-expansion-panel>
</mat-accordion>