<button mat-mini-fab style="margin-bottom:5px" (click)="refresh()">
  <mat-icon>refresh</mat-icon>

</button>
<div>
  <div style="display: block;width:350px;">
    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="options" [colors]="colors"
      (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
<h4 *ngIf="currentStatFilter">{{currentStatFilter.name}} - {{currentStatFilter.value}}</h4>
<a *ngIf="currentStatFilter" (click)="clearFilter()">הצג הכל</a>
<h4 *ngIf="!currentStatFilter">כולם - {{couriers.items.length}}</h4>
<mat-form-field class="full-width">
  <input matInput [(ngModel)]="searchString"  placeholder="חיפוש משנע" [ngModelOptions]="{standalone: true}">
  <mat-icon matSuffix (click)="searchString=''">clear</mat-icon>
</mat-form-field>
<mat-accordion>
  <ng-container *ngFor="let c of couriers.items">
  <mat-expansion-panel #myPanel *ngIf="showHelper(c)" (opened)="selectCourier(c)">
    <mat-expansion-panel-header>
      <div>
        <mat-panel-title>
          {{c.name.value}}
        </mat-panel-title>
      </div>
      <div>
        <mat-panel-description>
          בדרך {{c.deliveriesInProgress.value}}, יצא {{c.lastAsignTime.relativeDateName()}}
        </mat-panel-description>
      </div>
    </mat-expansion-panel-header>

    <div  *ngIf="currentlHelper==c">
      <app-helper-families [familyLists]="familyLists" [partOfAssign]="true" [partOfReview]="true"></app-helper-families>
    </div>
  </mat-expansion-panel>
</ng-container>
</mat-accordion>