  <div *ngIf="!showData" class="myDiv" style="    text-align: -webkit-center;">
    <mat-card style="max-width: 300px;
    align-self: center;margin-top:70px">
      <mat-label>קליטת משלוח</mat-label>
      <form (ngSubmit)="f.valid && search(f)" style="    margin-top: 24px;
      text-align: start;" #f="ngForm">
        <mat-label style="    margin-left: 18px;
          ">מספר טלפון</mat-label>
        <input style="    width: 60%;
        " name="phoneNumber" ngModel class="example-tel-input-element" size="3" aria-label="Area code" required>
        <div style="width:100%;text-align: end;margin-top:10px">
          <button mat-raised-button color="accent" type="submit">חיפוש מתנדב</button>
        </div>
      </form>

    </mat-card>

  </div>

  <div *ngIf="showData">
    <div class="full-page">
      <data-grid [settings]="deliveries" class="grow-item"></data-grid>
  </div>
  </div>