<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      הגדרת משלוח חדש למשפחות
    </mat-expansion-panel-header>
    פעולה זו תגדיר משלוח חדש לכל המשפחות בסל שתבחרו - אשר בסטטוס של הצלחה, בעיה או לא באירוע.
    המשלוח הנוכחי של המשפחה ישמר בהיסטוריה.
    אם למשפחה מוגדר משנע קבוע - אז הוא וקבע כמשנע.
    <h4>בחרו סל</h4>

    <select class="form-control" #city [(ngModel)]="basketType">
      <option value="{{allBasketsToken}}">כל הסלים</option>
      <option *ngFor="let b of basketTypes" value="{{b.id.value}}">{{b.name.value}}</option>
    </select>
    <h4>בחרו קבוצה</h4>

    <input type="text" class="form-control" [(ngModel)]="group" >
    <br/>

    <button mat-raised-button (click)="setNewBasket()">הגדר משלוח חדש</button>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      הגדר את כל המשפחות כלא באירוע
    </mat-expansion-panel-header>
    פעולה זו תגדיר את כל המשפחות בסל שתבחרו כלא באירוע
    <h4>בחרו סל</h4>

    <select class="form-control" #city [(ngModel)]="basketType">
      <option value="{{allBasketsToken}}">כל הסלים</option>
      <option *ngFor="let b of basketTypes" value="{{b.id.value}}">{{b.name.value}}</option>

    </select>
    <h4>בחרו קבוצה</h4>

    <input type="text" class="form-control" [(ngModel)]="group">
    <br/>

    <button mat-raised-button (click)="setAsNotInEvent()">הגדר כלא באירוע</button>
  </mat-expansion-panel>
</mat-accordion>