<button (click)="save()" [disabled]="!wasChange()" class="btn glyphicon glyphicon-ok btn-success"></button>
<button (click)="reset()" [disabled]="!wasChange()"
    class="btn btn-danger glyphicon glyphicon-ban-circle ng-star-inserted"></button>

<table>
    <tr *ngFor="let p of helpPhones; let i = index">
        <td>{{i+1}}.</td>
        <td> <select [(ngModel)]="p.option">
                <option *ngFor="let c of phoneOptions" [ngValue]="c">{{c.name}}</option>
            </select></td>
        <td><button (click)="move(p,-1)" *ngIf="i>0">up</button></td>
        <td><button (click)="move(p,1)" *ngIf="i<helpPhones.length-1">down</button></td>
        <td><button (click)="delete(p)">delete</button></td>
        <td> <input [(ngModel)]="p.name" placeholder="שם" *ngIf="showNameAndPhone(p)"></td>
        <td> <input [(ngModel)]="p.phone" input="tel" placeholder="טלפון" *ngIf="showNameAndPhone(p)"></td>
    </tr>
</table>
<button (click)="addPhoneOption()">add</button>


<mat-accordion *ngIf="settings.currentRow">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                פרטי הארגון - {{settings.currentRow.organisationName.value}}
            </mat-panel-title>

        </mat-expansion-panel-header>



        <data-area [settings]="settings"></data-area>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-4">
                    <!--bindings={
    "ng-reflect-ng-if": "true"
    }-->
                    <label class="control-label ng-star-inserted">{{settings.currentRow.smsText.caption}}</label>
                </div>
                <div class="col-sm-8">
                    <textarea [(ngModel)]="settings.currentRow.smsText.value" class="form-control"></textarea>
                    <br />
                    <ul>
                        <li>!משנע! - יוחלף בשם המשנע</li>
                        <li>!שולח! - יוחלף בשם השולח</li>
                        <li>!ארגון! - יוחלף בשם הארגון</li>
                        <li>!אתר! - יוחלף בכתובת האתר</li>
                    </ul>
                    <h4>הודעה לדוגמא</h4>
                    <pre>{{testSms()}}</pre>
                </div>
            </div>
        </div>
        <data-area [settings]="settingsMore"></data-area>



    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                סוגי סלים
            </mat-panel-title>
        </mat-expansion-panel-header>
        <data-grid2 [settings]="basketType" height="300"></data-grid2>


    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'מקורות משפחה'|translate}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <data-grid2 [settings]="sources" height="300"></data-grid2>


    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'גורמים מפנים'|translate}}
            </mat-panel-title>

        </mat-expansion-panel-header>

        {{'קבוצות אלו יוצגו בשיוך משפחות ויאפשרו סינון מהיר'|translate}}
        <data-grid2 [settings]="groups" height="300"></data-grid2>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                הודעות למתנדב
            </mat-panel-title>

        </mat-expansion-panel-header>
        <data-area [settings]="settingsMessages"></data-area>


    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                העדפות
            </mat-panel-title>

        </mat-expansion-panel-header>
        <data-area [settings]="prefereces"></data-area>


    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                לוגו וצלמיות
            </mat-panel-title>

        </mat-expansion-panel-header>
        <data-area [settings]="settingsLogo"></data-area>
        <data-area [settings]="images"></data-area>
        כלי ליצירת Base64:
        <a href="https://www.browserling.com/tools/file-to-base64">File to Base64</a>
        כלי ליצירת Icons:
        <a href="https://www.favicon-generator.org/">Favicon generator</a>

    </mat-expansion-panel>
</mat-accordion>