<button mat-mini-fab style="margin-bottom:5px" (click)="refresh()" color="primary">
  <mat-icon>refresh</mat-icon>
</button>
<a href="https://youtu.be/Pa7QJTE3cqo" target="_blank" class="no-print" *ngIf="settings.showVideo()"
  style="margin-right:10px">{{settings.lang.volunteerFeedbackVideo|translate}}</a>
<div style="display:flex">
  <mat-form-field appearance="outline" class="full-width-form-field dense-form-field">
    <mat-label>{{settings.lang.filter}}</mat-label>
    <select matNativeControl [(ngModel)]="filters.currentFilter" (change)="filterChange()">
      <option *ngFor="let l of filters.filters" [ngValue]="l">{{l.name}}</option>
    </select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width-form-field dense-form-field">
    <mat-label>{{settings.lang.familySource}}</mat-label>
    <select matNativeControl [(ngModel)]="filters.currentFamilySource" (change)="filterChange()">
      <option *ngFor="let l of familySources" [ngValue]="l.id">{{l.name}}</option>
    </select>
  </mat-form-field>
</div>
<mat-card *ngFor="let n of news">
  <mat-card-header>

    <div mat-card-avatar class="example-header-image">
      <mat-icon>{{icon(n)}}</mat-icon>
    </div>

    <mat-card-title class="newsHeader">
      <div>
        {{n.describe()}}
        <div style="color: darkorange" *ngIf="n.needsWork.value" (click)="cancelNeedWork(n)">
          {{settings.lang.requireFollowUp}}</div>
      </div>
    </mat-card-title>
    <mat-card-subtitle>{{n.deliveryStatusDate.relativeDateName()}}, {{settings.lang.updatedBy}}
      {{n.deliveryStatusUser.getValue()}}
      <br><a (click)="updateFamily(n)">{{settings.lang.deliveryDetails|translate}}</a>
      <br *ngIf="n.courier.value"><a (click)="showHelper(n)"
        *ngIf="n.courier.value">{{settings.lang.showAsignDeliveryFor|translate}}{{n.courier.getValue()}} </a>
    </mat-card-subtitle>

  </mat-card-header>
</mat-card>
<button mat-raised-button color="accent" *ngIf="this.news.length==this.newsRows"
  (click)="moreNews()">{{settings.lang.moreNews}}</button>