<div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let h of helpers.items">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{getName(h)}}
        </mat-panel-title>

      </mat-expansion-panel-header>
      <app-project-participant [projectHelperId]="h.id.value" [projectId]="projectId"></app-project-participant>
      <button mat-mini-fab color="warn" (click)="deleteHelper(h)">
        <mat-icon>remove</mat-icon>
      </button>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-mini-fab color="primary" (click)="addOne()">
    <mat-icon>add</mat-icon>
  </button>
</div>