<div class="myDiv">
  <button mat-raised-button color="primary" (click)="addOne()">
    מתנדבת נוספת
  </button>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let h of helpers.items">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>
            {{getName(h)}}
          </h4>
        </mat-panel-title>

      </mat-expansion-panel-header>
      <app-project-participant [projectHelperId]="h.id.value" [projectId]="projectId"></app-project-participant>

    </mat-expansion-panel>
  </mat-accordion>
</div>