<mat-card>
    <input type="file" (change)="fileChange($event)" />
    <button (click)="loadSettings()">טען הגדרות</button>
    <button (click)="saveSettings()">שמור הגדרות</button>
    <div class="table-div">
        <table class="table table-bordered">
            <tr>
                <th *ngFor="let ec of excelColumns">
                    {{ec.title}}
                    <br>
                    <select [(ngModel)]="ec.column">
                        <option value="">לא לקלוט</option>
                        <option *ngFor="let c of columns" [ngValue]="c">{{c.name}}</option>
                    </select>
                </th>
            </tr>
            <tr *ngFor="let r of rows">
                <td *ngFor="let c of excelColumns" (click)="test(r)">
                    {{getTheData(c.excelColumn+r)}}
                </td>
            </tr>
        </table>
    </div>
    <button (click)="additionalColumns.push({})">הוסף עמודות נוספות</button>
    <ul>
        <li *ngFor="let ac of additionalColumns; let i = index">
            <select [(ngModel)]="ac.column">
                <option value="">לא לקלוט</option>
                <option *ngFor="let c of columns" [ngValue]="c">{{c.name}}</option>
            </select>
            <input [(ngModel)]="ac.value">
            <button (click)="additionalColumns.splice(i,1)">הסר</button>
        </li>
    </ul>
    <button (click)="doImport()">Import</button>
    <button (click)="testImport()">סימולצית קליטה</button>
</mat-card>