<mat-card>
    <input type="file" (change)="fileChange($event)" />
    <button (click)="loadSettings()">טען הגדרות</button>
    <button (click)="saveSettings()">שמור הגדרות</button>
    <button (click)="page=page+1">דף הבא</button>
    <button (click)="page=page-1">דף קודם</button>
    <div class="table-div">
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th *ngFor="let ec of excelColumns">
                    {{ec.title}}
                    <br>
                    <select [(ngModel)]="ec.column">
                        <option value="">לא לקלוט</option>
                        <option *ngFor="let c of columns" [ngValue]="c">{{c.name}}</option>
                    </select>
                </th>
            </tr>
            <ng-container *ngFor="let r of rows">
                <tr *ngIf="getViewRow(r)>1&&getViewRow(r)<=totalRows">
                    <td>{{getViewRow(r)}} <button (click)="test(getViewRow(r))">test</button></td>
                    <td *ngFor="let c of excelColumns">
                        {{getTheData(c.excelColumn+getViewRow(r))}}
                    </td>
                </tr>
            </ng-container>
        </table>
    </div>
    <button (click)="additionalColumns.push({})">הוסף עמודות נוספות</button>
    <ul>
        <li *ngFor="let ac of additionalColumns; let i = index">
            <select [(ngModel)]="ac.column">
                <option value="">לא לקלוט</option>
                <option *ngFor="let c of columns" [ngValue]="c">{{c.name}}</option>
            </select>
            <input [(ngModel)]="ac.value">
            <button (click)="additionalColumns.splice(i,1)">הסר</button>
        </li>
    </ul>
    <button (click)="doImport()">Import</button>
    <button (click)="testImport()">סימולצית קליטה</button>
</mat-card>