<div dir="rtl">

  <h3 matDialogHeader>תודה</h3>
  <div [class.hide]="!data.showFailStatus">
    מה לא הסתדר?
    <select [(ngModel)]="defaultFailStatus" class="form-control">
      <option *ngFor="let f of failOptions" [ngValue]="f" >{{getStatusName(f)}}</option>
    </select>
  </div>
  <mat-dialog-content>
    נשמח אם תכתוב לנו הערה על מה שראית והיה
    <textarea class="form-control" rows="3" [(ngModel)]="data.comment"></textarea>
  </mat-dialog-content>
  <mat-dialog-actions>


    <button mat-raised-button color="warning" (click)="cancel()">
      בטל
    </button>
    <button mat-raised-button color="primary" (click)="confirm()">
      אשר
    </button>
  </mat-dialog-actions>


</div>