.familyLine {
  display: flex;
  white-space: nowrap;
}
.swipingItem {
  transition: all 100ms;
  font-size: 17px !important;
}

.mat-icon {
  font-size: 21px;
  height: 21px;
  margin-right: 3px;
}
.swipeleft {
  transform: translateX(-100px);
}
