<div class="myDiv">
    <mat-card style="overflow-y: auto;
    max-width: 450px;
    max-height: 100%;
   ">
        <img src="/assets/mitchashvim-logo-new-colors.webp">

        <div *ngIf="!isDone">
            <div style="color:#3753F6">
                <h1>רוצה להתנדב? מעולה!</h1>
                <H3>כל מה שצריך לעשות זה למלא את הטופס הקצר הזה ואנחנו ניצור איתך קשר</H3>
                <h5>*נא למלא את הטופס בעברית.</h5>
            </div>
            <data-control [field]="helper.$.name"></data-control>
            <app-address-input [field]="helper.$.preferredDistributionAreaAddress"
                caption="כתובת שנדע לחבר לך תורמים קרובים" [autoInit]="true"></app-address-input>
            <app-address-input [field]="helper.$.preferredFinishAddress" caption="איזור נוסף ממנו נח לך לאסוף תרומות?"
                [autoInit]=" true"></app-address-input>
            <data-area [settings]="area"></data-area>
            <button mat-raised-button (click)="submit()" [disabled]="!allowSubmit()">שליחה</button>
        </div>
        <div *ngIf="isDone">
            <H2>תודה רבה!</H2>
        </div>
    </mat-card>
</div>