
  <mat-card>
    <div class="fullSize">

      <form (submit)="selectFirst()">

        <mat-form-field class="full-width">
          <input matInput [(ngModel)]="searchString" (input)="doFilter()"
            placeholder="{{settings.lang.search}} {{args.selectStreet?settings.lang.address:settings.lang.familyName}}" #search [ngModelOptions]="{standalone: true}">
          <mat-icon matSuffix (click)="clearHelper()">clear</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="accent" *ngIf="args.selectStreet&&families.totalRows>1&&searchString"
          (click)="selectAllInStreet()">{{settings.lang.assign}} {{families.totalRows}}
          {{settings.lang.familesOnStreet}}: {{searchString}}</button>
        <div>
          <div *ngFor="let f of families.items" (click)="select(f)">
            <div>
              <h4>{{f.name.value}}</h4>
            </div>
            <div *ngIf="showStatus(f)" class="red">
              <h5>{{showStatus(f)}}</h5>
            </div>
            <h5 style="display: inline-block"> {{settings.lang.basket}}</h5> - {{f.basketType.displayValue}}
            
            <div *ngIf="f.deliveryComments.value">
              <h5 style="display: inline-block"> {{settings.lang.commentForVolunteer}}</h5>- {{f.deliveryComments.value}}
            </div>
            <h5>{{f.address.value}}</h5>

            <hr />
          </div>
        </div>

      </form>
      <button mat-raised-button color="accent" (click)="moreFamilies()"
        *ngIf=" families.items.length!=families.totalRows">{{settings.lang.moreFamilies|translate}}
      </button>
    </div>
  </mat-card>

