<ng-container *ngIf="!ready">
  <app-date-range></app-date-range>
  <button (click)="select()" mat-raised-button color="primary">בחר</button>
</ng-container>

<h4 [hidden]="!ready" *ngIf="timeline.length>0" (click)="animate()" style="display:inline;margin-left:15px">
  {{currentTime()}}</h4>
<button [hidden]="!ready" mat-raised-button (click)="animate()" *ngIf="!playing&&ready" color="primary">לחצו עלי
  ותהנו</button>
<div [hidden]="!ready" style="display: block;width:350px;">
  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="options"
    [colors]="colors"></canvas>
</div>

<div [hidden]="!ready" #gmap style="width:100%;" [style.height]="getHeight()"></div>
<div *ngIf="ready">
<input [(ngModel)]="height" *ngIf="ready">
{{map.getZoom()}} <input [(ngModel)]="zoom" *ngIf="ready"><button (click)="map.setZoom(+this.zoom)">set</button>
<input [(ngModel)]="speed" *ngIf="ready">
</div>
