<mat-form-field appearance="outline" class="full-width-form-field dense-form-field">
    <mat-label>family groups</mat-label>
    <select matNativeControl class="form-control" #lang (change)="refreshBaskets()" [(ngModel)]="filterGroup">
        <option value="">כל הקבוצות</option>
        <option *ngFor="let g of groups" [value]="g.name">{{g.name}} - {{g.familiesCount}}
        </option>
    </select>
</mat-form-field>
<table  >
    <tr>
        <th style="border: solid">noam</th>
        <th>noam</th>
        <th>noam</th>
        <th>noam</th>
    </tr>
    <tr>
        <td>noam</td>
        <td>noam</td>
        <td>noam</td>
        <td>noam</td>
    </tr>
    <tr>
        <td>noam</td>
        <td>noam</td>
        <td>noam</td>
        <td>noam</td>
    </tr>
    <tr>
        <td>noam</td>
        <td>noam</td>
        <td>noam</td>
        <td>noam</td>
    </tr>
    <tr>
        <td>noam</td>
        <td>noam</td>
        <td>noam</td>
        <td>noam</td>
    </tr>
</table>