<div class="printTableContainer">
  <div class="printColumn">
    <table class="printTable">
      <tr>
        <th>מתנדבים</th>
        <th>כמות</th>
      </tr>
      <tr *ngFor="let v of volunteers | slice: 0:volunteers.length / 2">
        <td>{{ v.name }}</td>
        <td>{{ v.quantity }}</td>
      </tr>
    </table>
  </div>
  <div class="printColumn">
    <table class="printTable">
      <tr>
        <th>מתנדבים</th>
        <th>כמות</th>
      </tr>
      <tr *ngFor="let v of volunteers | slice: volunteers.length / 2">
        <td>{{ v.name }}</td>
        <td>{{ v.quantity }}</td>
      </tr>
    </table>
  </div>
</div>
