.no-print {
  @media print {
    display: none;
  }
}

.printTableContainer {
  display: flex;
  justify-content: space-between;
}

.printColumn {
  width: 100%;
}

.columns-1 .printColumn {
  width: 50%;
  margin-left: auto;
}

.columns-2 .printColumn {
  width: 48%;
}

.columns-3 .printColumn {
  width: 50%;
}

.quantity-column {
  width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.printTable {
  -webkit-print-color-adjust: exact;
  font-size: smaller;
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border: 1px solid #ddd !important;
    padding: 4px 8px !important;
    word-break: break-word;
  }

  th {
    font-size: 0.9rem;
    font-weight: bold;
  }

  td {
    font-size: 0.8rem;
  }

  tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }
}

@media print {
  .printTableContainer {
    display: flex;
    justify-content: space-between;
  }

  .printColumn {
    width: 100%;
  }

  .columns-1 .printColumn {
    width: 30%;
    margin-left: auto;
  }

  .columns-2 .printColumn {
    width: 48%;
  }

  .columns-3 .printColumn {
    width: 32%;
  }

  .quantity-column {
    width: 30px;
  }
}