.no-print {
  @media print {
    display: none;
  }
}

// Styles for screen display
.printContent {
  display: flex;
  flex-wrap: wrap;
}

.volunteer-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.volunteer-quantity {
  min-width: 30px;
  text-align: right;
}

// Columns for screen display
.columns-1 .printContent {
  flex-direction: column;
}

.columns-2 .printContent {
  .volunteer-item {
    width: 48%;
    margin-right: 2%;
  }
}

.columns-3 .printContent {
  .volunteer-item {
    width: 31%;
    margin-right: 2%;
  }
}

// Styles for print
@media print {
  .no-print {
    display: none;
  }

  .printContent {
    display: block;
    column-gap: 20px;
    column-fill: auto;
  }

  .columns-1 .printContent {
    column-count: 1;
    width: 50%;
  }

  .columns-2 .printContent {
    column-count: 2;
  }

  .columns-3 .printContent {
    column-count: 3;
  }

  .volunteer-item {
    break-inside: avoid;
    page-break-inside: avoid;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    width: 100% !important;
    margin-right: 0 !important;

    &:nth-child(even) {
      background-color: #e0e0e0;
    }
  }

  .volunteer-quantity {
    min-width: 30px;
    text-align: right;
  }

  @page {
    margin: 1cm;
  }
}