.help {
  margin-top: 10px;
}
.cancelAssignButton {
  //margin-top:-10px !important;
  margin-bottom: 15px;
}
.address-container {
  display: flex;
}
h4 {
  margin-block-start: 0.6em;
  margin-block-end: 0.3em;
}
.phone-container {
  display: flex;
  padding-bottom: 10px;
  > div {
    padding: 0 5px;
    align-self: center;
  }
}
.address-links {
  text-align: end;
  > a {
    display: block;
  }
}


h4,
h3 {
  margin-block-end: 0;
  margin-block-start: 0;
}
.top-button-bar {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  img {
    height: 30px;
  }
  .rounded-button {
    flex-grow: 1;
  }
}
@media (max-width: 720px) {
  .mat-card{
  padding: 16px 4px !important;
  }
  }