<div>
  <div *ngIf="showStatus()">
    <h4>{{f.deliverStatus.displayValue}}</h4>
    {{f.deliveryStatusDate.displayValue}}
    <div *ngIf="f.courierComments.value">
      <h5 style="display:inline">הערת משנע</h5> - {{f.courierComments.value}}

    </div>
  </div>
  <div>
    <button mat-raised-button class="cancelAssignButton" color="primary" *ngIf="showFamilyPickedUp(f)"
      (click)="familiyPickedUp(f)">אספו את החבילה</button>
    <button *ngIf="showCancelAssign(f)" mat-raised-button class=" badButton cancelAssignButton"
      (click)="cancelAssign(f)">בטל
      שיוך</button>
    <button *ngIf="partOfAssign" mat-raised-button class="cancelAssignButton" (click)=" udpateInfo(f)">עדכן פרטי
      משפחה</button>
  </div>
  <h4 style="display:inline">סל</h4> - {{f.basketType.displayValue}}

  <div *ngIf="f.deliveryComments.value">
    <mat-icon color="primary" style="vertical-align: middle">comment</mat-icon>
    <strong style="color:red">שים לב! </strong> {{f.deliveryComments.value}}
  </div>
  <div *ngIf="f.courierBeenHereBefore()">
    <mat-icon color="green">repeat</mat-icon>
    הייתם אצל המשפחה הזו גם פעם קודמת
  </div>
  <h4>כתובת</h4>
  <div>
    <span (click)="openWaze(f)">
      <img
        src="https://lh3.googleusercontent.com/l4O7eQ94iRq2pPqIVKapZQvMdtYYXwT-jB1384pbxUKWJkyQ8rw85YtN-rrjoCqJ2El3=w40">
    </span>
    <a (click)="openWaze(f)">

      <div style="display:inline-block;margin-right:5px">

        {{f.address.value}}
        <ng-container *ngIf="f.floor.value||f.appartment.value">
          <br />
        </ng-container>
        <ng-container *ngIf="f.floor.value">
          קומה {{f.floor.value}}
        </ng-container>
        <ng-container *ngIf="f.appartment.value">
          דירה {{f.appartment.value}}
        </ng-container>
        <ng-container *ngIf="f.entrance.value">
          כניסה {{f.entrance.value}}
        </ng-container>
        <ng-container *ngIf="f.addressComment.value">
          <br /> {{f.addressComment.value}}
        </ng-container>


      </div>
    </a>
    <div style="float:left;text-align: left">
      <a (click)="f.openGoogleMaps()">מפה</a>
      <br />
      <a (click)="copyAddress(f)">העתק כתובת</a>
    </div>
    <ng-container *ngIf="f.getGeocodeInformation().partialMatch()">
      <br />
      <mat-icon style="margin-right:5px" color="primary">warning
      </mat-icon>
      שימו לב, כתובת לא מדוייקת!
    </ng-container>
  </div>

  <h4>טלפונים:</h4>
  <div>
    <a href="tel:{{f.phone1.value}}">
      <button mat-mini-fab style="margin-left:10px;vertical-align: middle">
        <mat-icon>call</mat-icon>
      </button>
    </a>
    <div style="display:inline-block">
      <a href="tel:{{f.phone1.value}}">{{f.phone1.displayValue}}</a>,
      {{f.phone1Description.value?f.phone1Description.value:f.name.value}}

    </div>

  </div>
  <div style="margin-top:5px" *ngIf="f.phone2.value">
    <a href="tel:{{f.phone2.value}}">
      <button mat-mini-fab style="margin-left:10px;vertical-align: middle">
        <mat-icon>call</mat-icon>
      </button>
    </a>
    <div style="display:inline-block">
      <a href="tel:{{f.phone2.value}}">{{f.phone2.displayValue}}</a>,
      {{f.phone2Description.value?f.phone2Description.value:f.name.value}}

    </div>

  </div>

</div>
<div class="button-area">
  <ng-content></ng-content>
  <div class="help" *ngIf="showHelp">
    צריך עזרה? התקשר ל{{f.courierHelpName()}}
    <a href="tel:{{f.courierHelpPhone()}}">{{f.courierHelpPhone()}} </a> או
    <a (click)="SendHelpSms()">שלח הודעת SMS</a>
  </div>
</div>