.button-container {
    width: 100%;
  }
  .button-line {
    width: 100%;
    text-align: center;
  }
  .dial-for-help {
    width: 100%;
    margin-top: 10px;
  }
  
  .dialog-content-fixer{
    min-height: 250px;
    min-width:250px;
}