@import "~@angular/material/theming";

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$custom-typography: mat-typography-config(
  $font-family:
    '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;',
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 400),
  $display-2: mat-typography-level(45px, 48px, 400),
  $display-1: mat-typography-level(34px, 40px, 400),
  $headline: mat-typography-level(24px, 32px, 400),
  $title: mat-typography-level(20px, 32px, 500),
  $subheading-2: mat-typography-level(16px, 28px, 400),
  $subheading-1: mat-typography-level(15px, 24px, 400),
  $body-2: mat-typography-level(14px, 24px, 500),
  $body-1: mat-typography-level(14px, 20px, 400),
  $caption: mat-typography-level(12px, 20px, 400),
  $button: mat-typography-level(14px, 14px, 500),
  // Line-height must be unit-less fraction of the font-size. $input: mat-typography-level(16px, 1.125, 400)
);
// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
$mat-pink-noam: (
  50: #fce4ec,
  100: #f8bbd0,
  200: #f48fb1,
  300: #f06292,
  400: #ec407a,
  500: #e91e63,
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: #880e4f,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$candy-app-primary: mat-palette($mat-blue);
$candy-app-accent: mat-palette($mat-pink-noam, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

[dir="rtl"] th {
  text-align: right;
}

.button-area {
  margin-top: 10px;
}

.hide {
  visibility: collapse;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.hide * {
  visibility: collapse;
  height: 0 !important;
}
.myButton {
  width: 85%;
  margin-right: 8% !important;
  margin-top: 10px !important;
}
.badButton {
  color: red !important;
  font-weight: 400 !important;
}
// solution for the table responsive rtl bug in IOS
[dir="rtl"] .table-responsive {
  direction: ltr;
}
[dir="rtl"] .table-responsive table {
  direction: rtl;
}

[dir="rtl"] .mat-snack-bar-container {
  direction: rtl;
}

@media print {
  .no-print {
    display: none !important;
    visibility: none !important;
  }
}
@media not print {
  .print-only {
    display: none !important;
    visibility: none !important;
  }
}

.deliveredOk {
  background-color: #dff0d8 !important;
}
.deliveredOk > td {
  background-color: #dff0d8 !important;
}
.forzen {
  background-color: lightgray !important;
  > td {
    background-color: lightgray !important;
  }
}
.deliveredProblem {
  background-color: #f2dede !important;
}
.addressProblem {
  background-color: #fac090 !important;
}
.communicationProblem {
  background-color: #fa90f5 !important;
}
.newVolunteer {
  background-color: lightyellow;
}

.largeDelivery {
  background-color:#d4effa !important;
}

.busyVolunteer {
  background-color: red !important;
}

.active {
  border: solid;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.mat-dialog-content {
  padding: 0 15px;
}
.thin-dialog-container {
  padding: 10px;
}

//fix stupid ios bug with texts
input,
text-area {
  transform: translate3d(0px, 0px, 0px);
}
.mat-expansion-panel-header {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.mat-expansion-panel-body {
  padding: 0 8px 16px !important;
}

.wideList {
  .mat-list-item-content {
    padding: 0px !important;
  }
}
.top-bar {
  display: flex;
  justify-content: space-between;
}
.family-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
}

.primary-menu {
  background-color: #ff4081;
  color: white;
}
.primary-menu:hover {
  background-color: #ff4050 !important;
}

.one-line {
  display: flex;
  justify-content: space-between;
}

.one-line > * {
  padding-left: 0.2em;
  padding-right: 0.2em;
  flex-basis: 1px;
  flex-grow: 1;
}
.one-line > :first-child {
  padding-right: 0em;
}
.one-line > :last-child {
  padding-left: 0em;
}
.mat-card {
  margin-bottom: 5px;
}
.mat-card-title {
  font-size: 18px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}
.title-with-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  background-color: transparent;
  color: #337ab7;
  text-decoration: underline;
}
textarea {
  width: 87%;

  height: 7em;
  border-radius: 5px;
  margin-top: 8px;
  padding: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
}
.flip-list-move {
  transition: transform 1s !important;
}
.table-bordered {
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-bordered > tr > th,
.table-bordered > tr > td {
  border: 1px solid #ddd;
  padding: 6px;
}
.table-bordered > tr > th {
  border-bottom-width: 2px;
}
.map-cluster {
  background-color: #fdf569;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}
/*
.map-cluster::after {
  background-color: #fdf569;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  
}*/

.pin1 {
  position: absolute;

  border-radius: 50% 50% 50% 0;
  border: 4px solid #fff;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}

.pin1::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #fff;
}

.pin2 {
  position: absolute;

  border-radius: 50%;
  border: 8px solid #fff;
  width: 8px;
  height: 8px;
}

.pin2::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #fff;
}

.followup-list-item {
  .mat-list-item-content {
    padding: 0px !important;
  }
}
.select-helper-dialog {
  .mat-dialog-container {
    //  padding: 25px 5px;
  }
}
.assign-volunteer-dialog {
  .mat-dialog-container {
    padding: 13px 5px;
  }
}

.secondary-text {
  color: rgba(0, 0, 0, 0.54);
}

.emphesize-comment {
  font-size: 18px;
}

.full-page {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.grow-item {
  height: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  overflow-y: auto;
}
.dataGridFooterArea {
  //fix bug wtih grid footer
  box-sizing: border-box;
}
.mat-checkbox-label {
  white-space: normal;
}

.hidden {
  display: none!important;
  * {
    display: none !important;
  }
}

.image-container {
  display: flex;
  flex-wrap: wrap;

}
.image {
  max-width: 400px;
  border: solid;
  margin-bottom: 11px;
  border-radius: 5px;
  border-width: thin;
}
.mat-tab-body-wrapper{
  flex-grow: 1;
}