// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$angular-starter-project-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        use-system-variables: true),
      typography:(plain-family:'Rubik', brand-family:'Rubik', use-system-variables: true),
    ));



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($angular-starter-project-theme);
  @include mat.system-level-colors($angular-starter-project-theme);
  @include mat.system-level-typography($angular-starter-project-theme);
}


// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($angular-starter-project-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($angular-starter-project-theme);
/* You can add global styles to this file, and also import other style files */


// Start input stuff
:root {
  @include mat.form-field-density(-5)
}

.full-width-form-field {
  width: 100%;
}

:root {
  --sys-title-large-size: 1rem;
  --sys-title-large-weight: 500;
  --sys-title-medium-size: 1.1rem;
  --sys-title-medium-weight: 500;
  --mat-card-subtitle-text-color: rgba(0, 0, 0, 0.54); //var(--sys-on-surface-variant)
  --mat-card-subtitle-text-weight: 400;
  --mat-checkbox-label-text-size: 1rem;
}

.mdc-text-field__input::-webkit-calendar-picker-indicator {
  display: inherit !important;
}

// End input stuff
html {
  font-size: 18px;
}

body {
  margin: 0;
  font-family: Rubik, Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
}

[dir='rtl'] th {
  text-align: right;
}

.button-area {
  margin-top: 10px;
}

.hide {
  visibility: collapse;
  height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.hide * {
  visibility: collapse;
  height: 0 !important;
}

.myButton {
  width: 85%;
  margin-right: 8% !important;
  margin-top: 10px !important;
}

.badButton {
  color: red !important;
  font-weight: 400 !important;
}

// solution for the table responsive rtl bug in IOS
[dir='rtl'] .table-responsive {
  direction: ltr;
}

[dir='rtl'] .table-responsive table {
  direction: rtl;
}

[dir='rtl'] .mat-snack-bar-container {
  direction: rtl;
}

@media print {
  .no-print {
    display: none !important;
    visibility: none !important;
  }
}

@media not print {
  .print-only {
    display: none !important;
    visibility: none !important;
  }
}

.deliveredOk {
  background-color: #dff0d8 !important;
}

.deliveredOk>td {
  background-color: #dff0d8 !important;
}

.forzen {
  background-color: lightgray !important;

  >td {
    background-color: lightgray !important;
  }
}

.on-the-way {
  background-color: #d4effa !important;
}

.deliveredProblem {
  background-color: #f2dede !important;
}

.addressProblem {
  background-color: #fac090 !important;
}

.communicationProblem {
  background-color: #fa90f5 !important;
}

.newVolunteer {
  background-color: lightyellow;
}

.largeDelivery {
  background-color: #d4effa !important;
}

.busyVolunteer {
  background-color: red !important;
}

.active {
  border: solid;
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.mat-dialog-content {
  padding: 0 15px;
}

.thin-dialog-container {
  padding: 10px;
}

//fix stupid ios bug with texts
input,
text-area {
  transform: translate3d(0px, 0px, 0px);
}

.mat-expansion-panel-header {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.mat-expansion-panel-body {
  padding: 0 0px 16px !important;
}

.wideList {
  .mat-list-item-content {
    padding: 0px !important;
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.family-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 10px;
}

.primary-menu {
  background-color: #ff4081;
  color: white;
}

.primary-menu:hover {
  background-color: #ff4050 !important;
}

.one-line {
  display: flex;
  justify-content: space-between;
}

.one-line>* {
  padding-left: 0.2em;
  padding-right: 0.2em;
  flex-basis: 1px;
  flex-grow: 1;
}

.one-line> :first-child {
  padding-right: 0em;
}

.one-line> :last-child {
  padding-left: 0em;
}

.mdc-card {
  margin-bottom: 5px;
  padding: 16px;
  @include mat.elevation(1);
}

.mat-mdc-card-title {
  font-size: 18px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.mat-mdc-card-subtitle {
  color: var(--sys-on-secondary)
}

.title-with-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  background-color: transparent;
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  color: #337ab7;
  text-decoration: underline;
}

textarea {
  width: 87%;

  height: 7em;
  border-radius: 5px;
  margin-top: 8px;
  padding: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.flip-list-move {
  transition: transform 1s !important;
}

.table-bordered {
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-bordered>tr>th,
.table-bordered>tr>td,
.table-bordered * tr>th,
.table-bordered * tr>td {
  border: 1px solid #ddd;
  padding: 6px;
}

.table-bordered>tr>th,
.table-bordered * tr>th {
  border-bottom-width: 2px;
}

.map-cluster {
  background-color: #fdf569;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}

/*
.map-cluster::after {
  background-color: #fdf569;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  
}*/

.pin1 {
  position: absolute;

  border-radius: 50% 50% 50% 0;
  border: 4px solid #fff;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}

.pin1::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
  background-color: #fff;
}

.pin2 {
  position: absolute;

  border-radius: 50%;
  border: 8px solid #fff;
  width: 8px;
  height: 8px;
}

.pin2::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #fff;
}

.followup-list-item {
  .mat-list-item-content {
    padding: 0px !important;
  }
}

.select-helper-dialog {
  .mat-dialog-container {
    //  padding: 25px 5px;
  }
}

.assign-volunteer-dialog {
  .mat-dialog-container {
    padding: 13px 5px;
  }
}

.secondary-text {
  color: rgba(0, 0, 0, 0.54);
}

.emphesize-comment {
  font-size: 18px;
}

.full-page {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.grow-item {
  height: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  overflow-y: auto;
}

.dataGridFooterArea {
  //fix bug wtih grid footer
  box-sizing: border-box;
}

.mat-checkbox-label {
  white-space: normal;
}

.hidden {
  display: none !important;

  * {
    display: none !important;
  }
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image {
  max-width: 400px;
  border: solid;
  margin-bottom: 11px;
  border-radius: 5px;
  border-width: thin;
}

.mat-tab-body-wrapper {
  flex-grow: 1;
}

.help-text {
  background-color: lightyellow;
  padding: 12px;
  border-width: thin;
  border-style: solid;
  margin-bottom: 10px;
  border-radius: 10px;
  border-color: lightgray;
}

.no-padding {
  .mat-dialog-container {
    padding: 0px;
  }
}

.rounded-button {
  line-height: 30px !important;
  border-radius: 100px !important;

  .mat-icon {
    font-size: 16px;
    height: inherit;
  }
}

.dialog-with-gray-background {
  .mat-dialog-container {
    background-color: rgb(250, 250, 250);
  }
}

.small-button {
  line-height: 32px;

  .mat-icon {
    font-size: 16px;
    height: inherit;
  }
}

.icon-and-text {
  display: flex;

  .mat-icon {
    font-size: medium;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 24px;
    color: #1380fa;
  }

  div {
    flex-grow: 1;
  }
}

.mat-drawer-content1 {
  @media print {
    overflow: hidden;
  }
}

body[dir='rtl'] {
  .icon-and-text {
    .mat-icon {
      text-align: end;
    }
  }
}

.mat-expansion-panel-header {
  height: 72px !important;
}

* {
  //disables double click to zoom
  touch-action: manipulation;
}

@media (max-width: 400px) {
  .one-line:has(.phone-field) {
    flex-direction: column;
    border-bottom: solid 2px rgba(0, 0, 0, 0.12);
    padding-bottom: 2px;
    margin-bottom: 6px;
  }
}

.urgent {
  font-weight: bold;
}

textarea {
  font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 18px
}

.warning-button {
  @include mat.button-color($angular-starter-project-theme, $color-variant: error)
}

.wait-dialog {
  .mat-mdc-dialog-surface {

    width: 6rem;
    min-width: 6rem;
  }
}