@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$custom-typography: mat-typography-config(
    $font-family:   '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 400),
    $display-2:     mat-typography-level(45px, 48px, 400),
    $display-1:     mat-typography-level(34px, 40px, 400),
    $headline:      mat-typography-level(24px, 32px, 400),
    $title:         mat-typography-level(20px, 32px, 500),
    $subheading-2:  mat-typography-level(16px, 28px, 400),
    $subheading-1:  mat-typography-level(15px, 24px, 400),
    $body-2:        mat-typography-level(14px, 24px, 500),
    $body-1:        mat-typography-level(14px, 20px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
    $input:         mat-typography-level(16px, 1.125, 400)
);
// Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.).
@include mat-base-typography($custom-typography);

// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);

// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);
$mat-pink-noam: (
  50: #fce4ec,
  100: #f8bbd0,
  200: #f48fb1,
  300: #f06292,
  400: #ec407a,
  500: #e91e63,
  600: #d81b60,
  700: #c2185b,
  800: #ad1457,
  900: #880e4f,
  A100: #ff80ab,
  A200: #ff4081,
  A400: #f50057,
  A700: #c51162,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$candy-app-primary: mat-palette($mat-pink-noam);
$candy-app-accent:  mat-palette($mat-blue , A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);


body{
    margin:0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    
    
}
h1{
    
    font-weight: 300;
}


th {
    text-align: right;
}


.button-area{
    margin-top:10px;
}


//fix right to left problem in data area
.col-sm-4{
  float:right;  
  width:30%;
}
.col-sm-8{
    float:right;  
    width:70%;
  }

//rtl related stuff
@media (min-width: 768px)
{
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: right;
    }
}

  
//end rtl stuff
  
.hide{
    visibility: collapse;
    }
.myButton{
    width:85%;
    margin-right: 8%!important;
    margin-top: 10px !important;
    }
.badButton{
    color:red !important;
    font-weight: 400 !important;
    }
// solution for the table responsive rtl bug in IOS
.table-responsive {
    direction: ltr;
  }
  .table-responsive   table {
    direction: rtl;
  }

  .mat-snack-bar-container{
      direction: rtl;
  }
 
  @media print{
      .no-print{
          display:none!important;
          visibility: none!important;
      }
  }
  @media not print{
      .print-only{
        display:none!important;
        visibility: none!important;
      }
  }
 
  .deliveredOk{
      background-color: #dff0d8 !important;
  }
  .deliveredOk>td{
    background-color: #dff0d8 !important;
}
.deliveredProblem>td{
    background-color: #f2dede !important;
}
.addressProblem{
    background-color:#FAC090 !important;
}
  .active  {
    border:solid;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    
  }
  .mat-dialog-content{
      padding :0 15px;
  }
  .thin-dialog-container{
      padding:10px;
  }