<div *ngIf="families.currentRow">
    <br>

    <div class="{{families.currentRow.deliverStatus.getCss()}}">
        <strong>{{families.currentRow.getDeliveryDescription()}}: </strong>
    </div>
    <mat-accordion *ngIf="familiesInfo" [multi]="true">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        {{'משפחה'|translate}}
                    </mat-panel-title>
                </div>
                <div>
                    <mat-panel-description>
                        {{families.currentRow.name.value}}
                    </mat-panel-description>
                </div>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>

                <data-area [settings]="familiesInfo"></data-area>
                <a href="tel:{{families.currentRow.socialWorkerPhone1.value}}"
                    *ngIf="families.currentRow.socialWorkerPhone1.value">

                    חייג לעו"ס {{families.currentRow.socialWorker.value}} טלפון 1
                </a> |
                <a href="tel:{{families.currentRow.socialWorkerPhone2.value}}"
                    *ngIf="families.currentRow.socialWorkerPhone2.value">

                    חייג לעו"ס {{families.currentRow.socialWorker.value}} טלפון 2
                </a>
            </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        <mat-icon class="badAddressIcon"
                            *ngIf="!families.currentRow.addressOk.value&&!families.currentRow.isNew()">
                            warning
                        </mat-icon>
                        כתובת
                    </mat-panel-title>
                </div>
                <div>
                    <mat-panel-description>
                        {{families.currentRow.address.value}}
                    </mat-panel-description>
                </div>

            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>

                <div class="addressProblem" *ngIf="!families.currentRow.addressOk.value&&!families.currentRow.isNew()">
                    <span class="badAddressTitle">שים
                        לב, כתובת לא מדוייקת</span>
                    גוגל לא הצליח למצוא את הכתובת בצורה מדוייקת. יש להשוות בין השדה "כתובת" לשדה "כתובת כפי שגוגל הבין".

                    <br> כתובת לא מדוייקת עלולה להוביל המשנע למקום לא נכון בוייז.
                </div>
                <span *ngIf="families.currentRow.address.value!=families.currentRow.address.originalValue"><a
                        (click)="families.currentRow.save()" target="_blank">בדוק כתובת</a></span>
                <ng-container *ngIf="families.currentRow.address.value==families.currentRow.address.originalValue">
                    <a (click)="families.currentRow.showOnGovMap()" target="_blank">הצג ב govmap</a> |
                    <a (click)="families.currentRow.showOnGoogleMaps()" target="_blank">הצג בגוגל</a> |
                    <a (click)="families.currentRow.openWaze()" target="_blank">פתח WAZE</a>
                </ng-container>
                <data-area [settings]="familiesAddress"></data-area>
            </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        טלפונים
                    </mat-panel-title>
                </div>
                <div>
                    <mat-panel-description>
                        {{families.currentRow.phone1.value}}
                    </mat-panel-description>
                </div>

            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>

                <a href="tel:{{families.currentRow.phone1.value}}" *ngIf="families.currentRow.phone1.value">

                    חייג לטלפון 1
                </a> |
                <a href="tel:{{families.currentRow.phone2.value}}" *ngIf="families.currentRow.phone2.value">

                    חייג לטלפון 2

                </a>
                <data-area [settings]="phones"></data-area>
            </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        פרטי משלוח
                    </mat-panel-title>
                </div>
                <div>
                    <mat-panel-description>
                        {{families.currentRow.getShortDeliveryDescription()}}
                    </mat-panel-description>
                </div>

            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>

                <a href="tel:{{families.currentRow.courier.getPhone()}}" *ngIf="families.currentRow.courier.value">
                    חייג למשנע {{families.currentRow.courier.getValue()}} בטלפון
                    {{families.currentRow.courier.getPhone()}}
                    <br>
                    <br>
                </a>
                <data-area [settings]="deliverInfo"></data-area>

            </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        היסטורית משלוחים
                    </mat-panel-title>
                </div>
                <div>
                    <mat-panel-description>

                    </mat-panel-description>
                </div>

            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>

                <ul>
                    <li>
                        {{families.currentRow.getShortDeliveryDescription()}}
                    </li>
                    <li *ngFor="let fd of familyDeliveries" (click)="deliveryInfo(fd)">
                        {{fd.getShortDescription()}}
                    </li>
                </ul>


            </ng-template>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div>
                    <mat-panel-title>
                        פרטי עדכונים
                    </mat-panel-title>
                </div>
                <div>
                    <mat-panel-description>

                    </mat-panel-description>
                </div>

            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>

                <ul>
                    <li>הוספה: {{families.currentRow.createDate.displayValue}} -
                        {{families.currentRow.createUser.displayValue}}</li>
                    <li>עדכון אחרון: {{families.currentRow.lastUpdateDate.displayValue}}</li>
                    <li>עדכון סטטוס משלוח: {{families.currentRow.deliveryStatusDate.displayValue}} -
                        {{families.currentRow.deliveryStatusUser.displayValue}}</li>
                    <li>עדכון משנע: {{families.currentRow.courierAssingTime.displayValue}} -
                        {{families.currentRow.courierAssignUser.displayValue}}</li>
                    <li>עדכון צריך טיפול: {{families.currentRow.needsWorkDate.displayValue}} -
                        {{families.currentRow.needsWorkUser.displayValue}}</li>
                </ul>

            </ng-template>
        </mat-expansion-panel>
    </mat-accordion>
</div>