<h3 mat-dialog-title style="white-space: pre-line; font-size: 24px">
  {{ question }}
</h3>

<mat-dialog-actions>
  <button
    mat-raised-button
    class="warning-button"
    (click)="close()"
    *ngIf="!confirmOnly"
  >
    {{ args.noButtonText }}
  </button>
  <button mat-flat-button (click)="close()" *ngIf="confirmOnly">
    {{ settings.lang.confirm }}
  </button>
  <button mat-flat-button (click)="select()" *ngIf="!confirmOnly">
    {{ args.yesButtonText }}
  </button>
</mat-dialog-actions>
